@import "./src/scss/includes/var";

.room{
    .owl-carousel{
        height: 152px;
        
    } 
}
.room-wrap{
    width: 237px;
    height: 67px;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 22px;
}
.price{
    display: flex;
    align-items: baseline;
    padding-bottom: 10px;
}
.price-sym{
    color:$black_text;
    font-family: $quicksand_bold;
    font-size: 14px;
    flex-basis: 11.9%;
}
.price-num{
    color:$black_text;
    font-family: $quicksand_bold;
    font-size: 19px;
    flex-basis: 16.5%;
}

.price-mod{
    color:$light_pink;
    font-family: $bold;
    font-size: 12px;
    flex-basis: 5%;
}
.price__price{
    display: flex;
    width: 100%;
    justify-content: flex-end;

}
.price__price-price{
    color: $light_grey;
    font-size: 14px;
    font-family: $bold;
    line-height: 18px;
    flex-basis: 55px;
}

.price__price-date{
    color: $light_grey;
    
    font-size: 12px;
    line-height: 18px;
    flex-basis: 48px;
}
.rating_block {
    width: 120px;
    height: 25px; 
}
.rating_block input[type="radio"] {
    display: none;
}

.label_rating {
    float: right;
    display: block;
    width: 24px;
    height: 24px;
    background: url("/src/img/svg/star.svg") no-repeat 50% 0;
    cursor: pointer;
}

/*Пишем правила смены положения background-а*/
.rating_block .label_rating:hover, /*Правило для ховера на текущий лейбл*/
.rating_block .label_rating:hover ~ .label_rating, /*Правило для всех следующих лейблов по DOM дереву*/
.rating_block input[type="radio"]:checked ~ .label_rating /*Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались*/
{
    background: url("/src/img/svg/fill-star.svg") no-repeat 50% 0;
}

.raiting{
    display: flex;
    padding-top: 10px;
    border-top: 1px solid $border_faded;


}


.raiting-review{
    display: flex;
    justify-content: space-between;
    width: 110px;
}
.raiting-review-num{
    color: $black50;
    font-family: $bold;
    line-height: 25px;
    margin-left: 27px;
}

.raiting-review-txt{
    color: $black50;
    font-size: 14px;
    line-height: 25px;

}


