include ./../star-rating/star-rating.pug
mixin image(number)
    div(class="owl-carousel owl-theme")
        -for(var i=0; i<4; i++)
            .img-shadow 
                img(src="/src/img/rums/rum" + number + ".png")
                


mixin price(number_num,mod,thousands,hundreds)
    .price
        span(class="price-sym") №&nbsp;
        p(class="price-num")= number_num
        if(mod==true)
            p(class="price-mod") 	&nbsp;ЛЮКС
        .price__price
            P(class="price__price-price")= thousands+" "+hundreds+"₽"
            p(class="price__price-date") в сутки


mixin full-block(number,number_num,mod,thousands,hundreds,i,rew)
    .room
        +image(number)
        .room-wrap
            +price(number_num,mod,thousands,hundreds)
            .room__rating
                +rating(i)
                .raiting-review
                    p(class="raiting-review-num")=rew 
                    p(class="raiting-review-txt") 	&nbsp;Отзывов    


    