@import "./src/scss/includes/var";

.room{
    .owl-carousel{
        height: 152px;
    } 
}

.price{
    display: flex;
    margin-top: 0;
    padding-top: 22px;
    padding-bottom: 10px;
    width: 243px;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
    span{
        color:$black_text;
        font-family: $quicksand_bold;
        font-size: 14px;
        margin-left: 5px;
    }
    .price-num{
        color:$black_text;
        font-family: $quicksand_bold;
        font-size: 19px;
        margin-left: 4px;
    }

    .price-mod{
        color:$light_pink;
        font-family: $bold;
        margin-left: 6px;
        font-size: 12px;
        margin-bottom: 0;
    }

    .price-price{
        color: $light_grey;
        margin-left: 32px;
        font-size: 14px;
        font-family: $bold;
        line-height: 18px;
    }
    
    .price-date{
        color: $light_grey;
        margin-left: 4px;
        font-size: 12px;
        
    }
}
.rating_block {
    width: 120px;
    height: 25px; 
  }
  .rating_block input[type="radio"] {
    display: none;
  }
  .label_rating {
    float: right;
    display: block;
    width: 24px;
    height: 24px;
    background: url("/src/img/svg/star.svg") no-repeat 50% 0;
    cursor: pointer;
  }
  /*Пишем правила смены положения background-а*/
  .rating_block .label_rating:hover, /*Правило для ховера на текущий лейбл*/
  .rating_block .label_rating:hover ~ .label_rating, /*Правило для всех следующих лейблов по DOM дереву*/
  .rating_block input[type="radio"]:checked ~ .label_rating /*Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались*/
  {
    background: url("/src/img/svg/fill-star.svg") no-repeat 50% 0;
  }

.raiting{
    display: flex;
    padding-top: 10px;
    border-top: 1px solid $border_faded;
    align-items: flex-end;
    width: 235px;
    margin-left: auto;
    margin-right: auto;
    .rating_block{
        margin-left: 3px;
    }
    p{
        color: $light_grey;
        font-size: 14px;
        margin-left: 4px;
        margin-bottom: 5px;
    } 
    .raiting-review{
        font-family: $bold;
        margin-left: 20px;
        
    }
}

// мленьке поправки по другим блокам
.price-2,.price-5,.price-8,.price-9,.price-10{
    .price-price{
        margin-left: 76px;
    }
}
.price-4,.price-6,.price-7,.price-9,.price-10,.price-12{
    .price-price{
        margin-left: 79px;
    }
}
.raiting-2,.raiting-3,.raiting-5,.raiting-6,.raiting-7,.raiting-9,.raiting-10,.raiting-11,.raiting-12{
    .raiting-review{
        margin-left:26px;
    }
}
.price-11{
    .price-price{
        margin-left: 72px;
    }
}
.raiting-4,.raiting-8{
    .raiting-review{
        margin-left:27px;
    }
}

