div(class="room")
    div(class="owl-carousel owl-theme")
        div
            img(src="/src/img/rums/rum3.png")
        div
            img(src="/src/img/rums/rum3.png")
        div
            img(src="/src/img/rums/rum3.png")
        div
            img(src="/src/img/rums/rum3.png")

    
    div(class="price price-3")
        span №
        p(class="price-num") 980
        p(class="price-mod") ЛЮКС
        P(class="price-price") 8&nbsp;500&#8381; 
        p(class="price-date") в сутки

    div(class="raiting raiting-3")
        <div class="rating_block">
            <input name="rating" value="5" id="rating_5" type="radio" />
            <label for="rating_5" class="label_rating"></label>
            
            <input name="rating" value="4" id="rating_4" type="radio" />
            <label for="rating_4" class="label_rating"></label>
            
            <input name="rating" value="3" id="rating_3" type="radio" />
            <label for="rating_3" class="label_rating"></label>
            
            <input name="rating" value="2" id="rating_2" type="radio" />
            <label for="rating_2" class="label_rating"></label>
            
            <input name="rating" value="1" id="rating_1" type="radio" />
            <label for="rating_1" class="label_rating"></label>
        </div>
        p(class="raiting-review") 35
        p(class="raiting-review-txt") Отзывов
        
