@import './src/scss/includes/var';

.room {
    background: $back;
    width: 270px;
    height: 258px;
    border-radius: 5px;
    box-shadow: 0px 0px 46px 8px rgba(0, 0, 0, 0.16);
}
.owl-carousel {
    height: 152px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    .owl-nav {
        .owl-prev {
            height: 20px;
            width: 20px;
            position: absolute;
            bottom: 69px;
            left: 8px;
            border: none;
            outline: none;
            background: none;
            z-index: 3;
            span {
                font-size: 27px;
            }
            &:hover {
                background: none;
            }
        }
        .owl-next {
            height: 20px;
            width: 20px;
            position: absolute;
            bottom: 69px;
            right: 5px;
            border: none;
            outline: none;
            color: white;
            z-index: 3;
            span {
                font-size: 27px;
            }
            &:hover {
                background: none;
            }
        }
    }
    .owl-dots {
        position: absolute;
        right: 13px;
        top: 122px;
        z-index: 3;
        .owl-dot {
            span {
                height: 6px;
                width: 6px;
                margin: 7px 2px;
                background: none;
                border: 1px solid white;
            }
            span:hover {
                background-color: white;
            }
            span:active {
                background-color: white;
            }
            span:focus {
                outline: none;
                border: none;
            }
        }
        .owl-dot.active {
            span {
                background-color: white;
            }
        }
    }
    .owl-theme [class*='owl-']:hover {
        background: transparent;
    }
}
.owl-carousel::before {
    //for shadow inside
}
.img-shadow {
    position: relative;
    img {
        border-radius: 5px 5px 0 0;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 42px;
        height: 152px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
        opacity: 0.5;
        z-index: 999;
        border-radius: 5px 0 0 0;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 42px;
        height: 152px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
        opacity: 0.5;
        z-index: 999;
        border-radius: 0 5px 0 0;
    }
}
.room-wrap {
    width: 231px;
    height: 67px;
    margin-left: 20px;
    margin-top: 22px;
}
.price {
    display: flex;
    align-items: baseline;
    padding-bottom: 10px;
}
.price-sym {
    color: $black_text;
    font-family: $quicksand_bold;
    font-size: 14px;
    flex-basis: 11.9%;
}
.price-num {
    color: $black_text;
    font-family: $quicksand_bold;
    font-size: 19px;
    flex-basis: 16.5%;
}

.price-mod {
    color: $light_pink;
    font-family: $bold;
    font-size: 12px;
    flex-basis: 5%;
}
.price__price {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.price__price-price {
    color: $light_grey;
    font-size: 14px;
    font-family: $bold;
    line-height: 18px;
    flex-basis: 53px;
}

.price__price-date {
    color: $light_grey;
    font-size: 12px;
    line-height: 18px;
    flex-basis: 45px;
}

.raiting-review {
    display: flex;
    justify-content: space-between;
    width: 110px;
}
.raiting-review-num {
    color: $black50;
    font-family: $bold;
    line-height: 25px;
    margin-left: 27px;
}

.raiting-review-txt {
    color: $black50;
    font-size: 14px;
    line-height: 25px;
}
.room__rating {
    border-top: 1px solid $border_invisible;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
