div(class="room")
    div(class="owl-carousel owl-theme")
        div
            img(src="/src/img/rums/rum1.png")
        div
            img(src="/src/img/rums/rum1.png")
        div
            img(src="/src/img/rums/rum1.png")
        div
            img(src="/src/img/rums/rum1.png")

    
    div(class="price")
        span №
        p(class="price-num") 888
        p(class="price-mod") ЛЮКС
        P(class="price-price") 9&nbsp;990&#8381; 
        p(class="price-date") в сутки



    mixin rating(j)
        .raiting
            .rating_block
            - for(var i=6; i>1 ; i--) {
                input(name="rating"+j value=i id="rating"+i+j type="radio")
                label(for="rating"+i+j).label_rating
            -  }
    +rating(1)
    
        p(class="raiting-review") 145
        p(class="raiting-review-txt") Отзывов
        
