mixin email-input(placeholder)  
    .text-input
        input(type="email" placeholder=placeholder class="text-input__input" autocomplete="off")
        .email-arrow
            <i class="fas fa-arrow-right"></i>

