mixin text-input(placeholder,classname)
    .text-input
        if(name === "Email")
            input(type="email" placeholder=placeholder class="text-input__input")
        
        else
            input(type="text" placeholder=placeholder class="text-input__input")
        
        