.text-input {
    position: relative;
}
.text-input__input {
    margin-top: 5px;
    @include def-input;
}

.email-arrow {
    position: absolute;
    top: 17px;
    right: 13px;
    i {
        font-size: 18px;
        background: linear-gradient(to top, #8ba4f9, #bc9cff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
