//styles for detepicker and forms
.landing {
    background-image: url('../assets/img/backgrouds/landing1534.png');
    background-repeat: no-repeat;
    background-position-x: -47px;
    background-position-y: -130px;
    position: relative;
    height: 830px;
    width: 100%;
    @media screen and (min-width: 1500px) {
        background-image: url('../assets/img/backgrouds/landing1600.png');
        background-repeat: no-repeat;
        background-size: 1600px 900px;
        background-position-x: right;
        background-position-y: top;
    }
    @media screen and (min-width: 1600px) {
        background-image: url('../assets/img/backgrouds/landing1600+.png');
        background-repeat: no-repeat;
        background-size: 1983px 1122px;
        background-position-x: right;
        background-position-y: top;
    }
    @media screen and (max-width: $mobileSmall) {
        background: $back;
    }
    @media screen and (max-width: $mobile) {
        height: 540px;
    }
}
.landing__text {
    @include black-grey-text;
    width: 260px;
    height: 48px;
    padding-right: 0px;
    text-align: right;
    line-height: 24px;
    position: absolute;
    bottom: 21px;
    right: 8.3%;
}
.landing__number-find {
    position: absolute;
    top: 70px;
    left: 9.8%;
    @media (max-width: $mobile) {
        top: 20px;
        left: 50%;
        margin-left: -190px;
    }
    @media (max-width: $mobileSmall) {
        top: 20px;
        left: auto;
        right: auto;
        margin-left: 0px;
    }
}
