//styles for number-page
.search__btn {
    cursor: pointer;
    display: none;
    width: 72px;
    height: 40px;

    &:hover {
        opacity: 0.5;
    }

    @media screen and (max-width: $small) {
        display: block;
    }
}
.search__btn-menu {
    width: 30px;
    border-top: 4px solid $black_text;
    margin-top: 5px;
}
.search {
    position: relative;
    display: grid;
    grid-template-columns: 28.5% 71.5%;
    padding-bottom: 77px;
    border-bottom: 1px solid $border_faded;
    @media (max-width: $numberPage) {
        grid-template-columns: 22% 78%;
    }
    @media (max-width: $medium) {
        grid-template-columns: 240px calc(100%-240px);
    }
    @media (max-width: $small) {
        display: block;
    }
}
.settings__title {
    @include formLabel;
}
.search__settings {
    margin-left: 34.4%;
    margin-top: 29px;
    @media (max-width: $numberPage) {
        margin-left: 10%;
    }
    @media screen and (max-width: $small) {
        display: none;
        width: 80%;
    }
}
.search__numbers {
    @media (max-width: $small) {
        text-align: center;
    }
}
.settings__arrivaldate {
    margin-top: 2px;
}
.settings__guests {
    margin-top: 23px;
}
.settings__price {
    margin-top: 33px;
}
.settings__checkbox {
    margin-top: 33px;
}
.settings__checkbox-block {
    margin-top: 16px;
}
.settings__availability {
    margin-top: 48px;
}
.settings__availability-block {
    margin-top: 17px;
}
.settings__comfort {
    margin-top: 63px;
}
.settings__extracomfort {
    margin-top: 30px;
}
.settings__price-txt {
    @include text-style-small;
    margin-top: 11px;
}
.search__pagination-container {
    margin: 39px 23.5% 0px auto;
    width: 362px;
    @media (min-width: 1600px) {
        margin: 39px 41% 0px auto;
    }
    @media (max-width: $numberPage) {
        margin: 39px auto 0px auto;
        text-align: center;
    }
    @media (max-width: $mobile) {
        width: 270px;
    }
}
