{
	"plugins": ["fsd"],
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},

	"extends": ["plugin:fsd/all", "airbnb/base"],
	"rules": {
		"semi": "off",
		"no-console": "off",
		"no-plusplus": "off",
		"eot-last": "off",
		"camelcase": "off",
		"linebreak-style": "off"
	}
}
