.numbers-paggination{
    margin-top: 50px;
    width: 100%;

    text-align: center;
    width: 240px;
    
    ol{
        display: flex;
        li{
            list-style-type: none;
            a{
                cursor: pointer;
                flex-basis: 40px;
                width: 40px;
                display: block;
                border: 0px solid black;
                border-radius: 50%;
                color: $light_grey;
                line-height: 40px;
                &:hover{
                    color: $white_text;
                    background: linear-gradient(to top, #8AABFE, #C79EFF);
                }
            }
            a:active{
                color: $white_text;
                background: linear-gradient(to top, #8AABFE, #C79EFF);
            }
        }
        
        
    }
}