
mixin pag-li(max, id)
    div(class="pagination" id=id)
        a(class="pagination__arrow" id="pagination-prev" href="#") <i class="fas fa-arrow-left"></i>
        ol(class="pagination__list")
            - for(var i=1; i<=max; i++)
                
                if i == max
                    li 
                        button(class="pagination__list-dots") ...
                
                if i == 1
                    li 
                        button(class="pagination__list-item pagination-selected")= i
                else
                    li
                        button(class="pagination__list-item")= i
                
                if i == 1
                    li
                        button(class="pagination__list-dots") ...

                
             
        a(class="pagination__arrow" id="pagination-next" href="#") <i class="fas fa-arrow-right"></i>

    p(class="pagination-text") 1 – 12 из 100+ вариантов аренды

                



