.paggination{
    width: 100%;
    text-align: center;

    display: flex;
}
.paggination__list{
    display: flex;
    list-style-type: none;
}
.paggination__list-item{
    list-style-type: none;
}
.paggination__list-item{
    cursor: pointer;
    flex-basis: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    color: $light_grey;
    line-height: 40px;
    &:hover{
        color: $white_text;
        background: linear-gradient(to top, #8AABFE, #C79EFF);
    }
}
.paggination__list-dots{
    cursor: pointer;
    flex-basis: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    color: $light_grey;
    line-height: 40px;
}
.paggination__arrow{
    cursor: pointer;
    
    width: 40px;
    display: block;
    border-radius: 50%;
    color: $light_grey;
    line-height: 40px;
    &:hover{
        color: $white_text;
        background: linear-gradient(to top, #66D2EA, #6FCF97);
    }
}
.pagination-selected{
    color: $white_text;
    background: linear-gradient(to top, #8AABFE, #C79EFF);
}
        
        
    
