.pagination {
    text-align: center;
    display: flex;
}
.pagination__list {
    display: flex;
    list-style-type: none;
}
.pagination__list-item {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 40px;
    display: block;
    border-radius: 50%;
    color: $light_grey;
    line-height: 40px;
    &:hover {
        color: $white_text;
        background: linear-gradient(to top, #8aabfe, #c79eff);
    }
    @media (max-width: $mobile) {
        width: 30px;
        line-height: 30px;
        font-size: 12px;
    }
}
.pagination__list-dots {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 40px;
    display: block;
    border-radius: 50%;
    color: $light_grey;
    line-height: 40px;
    @media (max-width: $mobile) {
        width: 30px;
        line-height: 30px;
        font-size: 12px;
    }
}
.pagination__arrow {
    cursor: pointer;
    width: 40px;
    display: block;
    border-radius: 50%;
    color: $white_text;
    background: linear-gradient(to top, #66d2ea, #6fcf97);
    line-height: 40px;
    &:hover {
        opacity: 0.5;
    }
    @media (max-width: $mobile) {
        width: 30px;
        line-height: 30px;
        font-size: 12px;
        i {
            font-size: 12px;
        }
    }
}
.pagination-selected {
    color: $white_text;
    background: linear-gradient(to top, #8aabfe, #c79eff);
}
.pagination-text {
    margin-left: 5px;
    margin-top: 12px;
    color: $black75;
}
