
mixin pag-li()
    .pagination
        a(class="pagination__arrow" id="pagination-prev" href="#") <i class="fas fa-arrow-left"></i>
        ol(class="pagination__list")
            - for(var i=1; i<=15; i++)
                if i == 15
                    li 
                        a(class="pagination__list-dots") ...

                li
                    a(class="pagination__list-item")= i
                
                if i == 1
                    li
                        a(class="pagination__list-dots") ...

                
             
        a(class="pagination__arrow" id="pagination-next" href="#") <i class="fas fa-arrow-right"></i>

                



