mixin rules(...items)
    .rules
        ul(class="rules__container")
            each item in items
                li(class="rules__item")
                    .rules__item-circle
                    p(class="rules__text")=item



