.rules {
}
.rules__item {
    list-style-type: none;
    display: flex;
    margin-top: 10px;
    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $black25;
        margin-right: 10px;
        margin-top: 5px;
    }
}
.rules__title {
    margin-bottom: 5px;
}
.rules__container {
    width: 260px;
}
.rules__text {
    line-height: 24px;
    color: $black75;
}
