.rules__item {
    list-style-type: none;
    display: flex;
    margin-top: 10px;
}
.rules__item-circle {
    display: inline;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $black25;
    margin-top: 8px;
}
.rules__text {
    @include black-grey-text;
    margin-top: 1px;
    margin-left: 10px;
    line-height: 24px;
    width: 240px;
}
