include ./../pages/head.pug

body
    .cards
        .ui-logo
            img(src="/src/ui-kit/logo.svg" class="ui-logo__logo")

        .cards__number-find
            include ./../blocks/number-find/number-find.pug
        
        .cards__register-block
            include ./../blocks/register-block/register-block.pug

        .cards__number-find-calc
            include ./../blocks/number-find/number-find-calc.pug