include ./ui-mixin.pug
include ./../blocks/text-inputs/input-text-field.pug
include ./../blocks/calendar/calender-mixin.pug
include ./../blocks/like-checkbox/like-chexkbox.pug
include ./../blocks/buttons/btn-mixin.pug
include ./../blocks/star-rating/star-rating.pug
include ./../blocks/range-slider/range-slider.pug
include ./../blocks/pagination/pagination.pug


include ./../pages/head.pug

body
    .ui-logo
        img(src="/src/ui-kit/logo.svg" class="ui-logo__logo")

    .ui-wrap
        .col.col_1
            .col__block
                +text('Text Field','Default')
                +text-input('Email')

            .col__block
                +text('Text Field','Hover / Focus')
                +text-input-border_bright('This is pretty awesome')
            
            .col__block
                +text('Dropdown','Default')
                +text-input('This is pretty awesome')
            
            .col__block
                +text('masked text field','Default')
                +text-input('ДД.ММ.ГГГГ')
            
            .col__datepicker
                .datepicker__block
                    h3(class="ui-title") date Dropdown
                    +clendar-from()
                .datepicker__block
                    h3(class="ui-title") date Dropdown
                    +clendar-to()

            .col__datepicker-one-field
                h3(class="ui-title") filter date dropdown
                include ./../blocks/calendar/calendar.pug
            

            .col__email
                h3(class="ui-title") subscription text field
                .col__email-block
                    include ./../blocks/text-inputs/email-input.pug

            .col__dropdown-comfort
                +text('Dropdown','Default')
                .col__dropdown-comfort-container
                    include ./../blocks/dropdown/dropdown-comfort.pug

            .col__dropdown-comfort-block
                +text('Dropdown','expanded')
                .col__dropdown-comfort-block-container
                    include ./../blocks/dropdown/dropdown-comfort-block.pug





        .col.col_2
            .col__block
                h3(class="ui-title") Checkbox Buttons
                .block__checkbox
                    include ./../blocks/check-box_btn/check-box_btn.pug

            .block__radio
                h3(class="ui-title") Radio Buttons
                .block__radio-container
                    include ./../blocks/gender-radiobtn/gender-radiobtn.pug
            

            .block__toggle
                h3(class="ui-title") Toggle
                .block__toggle-container
                    include ./../blocks/switch-btn/switch-btn-on.pug
                .block__toggle-container
                    include ./../blocks/switch-btn/switch-btn.pug
            
            .block__like
                h3(class="ui-title") like button
                .block__like-container
                    +like-btn("like1",2)
                    +like-btn("like2",12,true)

            .block__rate
                h3(class="ui-title") rate button
                .block__rate-container
                    .container
                        +rating(4)
                    .container
                        +rating(5)
                        


        .col.col_3
            .col__block
                .block-slider__container
                    +range-slider('Range Slider')

            .block__btns
                h3(class="ui-title") buttons
                .btns
                    .btns__btn-container
                        +purple-btn('CLICK ME','#')
                    .btns__btn-container_opacity
                        +purple-btn('CLICK ME','#')
                .btns-white
                    .btns__btn-white-container
                        +white-gradient('CLICK ME','#')
                    .btns__btn-white-container.btns__btn-white-container_opacity
                        +white-gradient('CLICK ME','#')

            
            .block__click_me
                p(class="click_me-txt click_me-txt_colored") CLICK ME
                p(class="click_me-txt click_me-txt_grey") CLICK ME

            .block__topay
                +purple-with-arrow('перейти к оплате')

            .block__pagination
                h3(class="ui-title") pagination
                .block__pagination-container
                    +pag-li()
                