@import "D:/Projects/Web/task_2/src/scss/includes/var";

header{
    background-color: $back;
    width:100%;
    display:flex;
    height: 70px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.headernew__logo{
    margin-left: 9.7222222222%;
    margin-top:15px;    
    margin-bottom:15px;
}


.headernew__nav{
    width: 36.59722%;
    height: 21px;
    margin-left: 20.625%;
    margin-top:25px;
    margin-bottom:30px; 
    border: 1px solid black;
    .headernew__nav__menu{
        
        a{
            text-decoration: none;
            font-size:14px;
            color: $text;
        }
           
    }
    .headernew__nav__menu{
        a:hover{
            color: #000000;
            font-family: $bold;
        }
    }
    ul{
        height: 21px;
        border: 1px solid black;
        width:100%;
        display: flex;
        text-decoration:none;
        justify-content: space-between;
        
    }
}



.headernew__buttons{
    margin-left:2%;
    width:200px;
    .headernew__button__login{
        margin-top:18px;
        margin-bottom: 18px;
        height: 30px;
        width:79px;
        background-color: $back;
        border: 2px solid #A7A1FF;
        border-radius: 30px;
        color: #C89DFF;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }
    
    .headernew__button__register{
        margin-left: 20px;
        margin-top:18px;
        margin-bottom: 18px;
        height: 30px;
        width: 101px;
        border-radius: 30px;
        background: linear-gradient(to top, #8AABFE, #C79EFF);
        color:$back;
    }
}

