header
    div(class="headernew")
        div(class="headernew__logo") 
            img(src="/src/img/logo.svg")
            
            
        ul(class="headernew__menu")
            li 
                a(href="") О нас
            li
                div(class="Arrow") 
                    a(href="") Услуги
                    div(id="Services")
                        <i class="fas fa-chevron-down"></i>
            li 
                a(href="") Вакансии
            li 
                a(href="") Новости
            li 
                div(class="Arrow")
                    a(href="") Соглашения
                    div(id="Services")
                        <i class="fas fa-chevron-down"></i>


        div(class="login")
            include ../blocks/buttons/loginbut.pug
        div(class="register")
            include ../blocks/buttons/registerbut.pug

