@import "./src/scss/includes/var";
.headernew{
    background-color: $back;
    width:100%;
    display:flex;
    align-items: center;
    height: 70px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.headernew__logo{
    margin-left: 9.7222222222%; 
}


.headernew__menu{
    width: 30.6%;
    margin-left: 19.9%;
    display: flex;
    justify-content: space-between;
    
    a{
        text-decoration: none;
        font-size:14px;
        color: $text;
    }
     
    a:hover{
        color: #000000;
        font-family: $bold;
    }
        
    li{
        list-style: none;
    }
    .Arrow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            i{
                border: solid $text;
                border-width: 0 2px 2px 0;
                display: block;
                padding: 3px;
                
            }
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin-bottom: 4px;
            margin-left: 8px;   
        }
    }
    div:hover{
        color: #000000;
        font-family: $bold;
    }
}
    



.login{
    margin-left:2%;
    width:5.8%;
}
.register{
    margin-left:1.7%;
    width: 13.75%;
}
