@import "./src/scss/includes/var";


.header__logo{
    margin-left:9.7%;
    margin-top:15px;
    margin-bottom: 15px;
}

.headerdef__nav{
    margin-left: 24.3%;
    margin-top:25px;
    margin-bottom:30px;
    width: 36.8%;
    height:14px;
}

.headerdef__nav__menu{
    text-align: justify;						 
	text-align-last: justify;
    a{
        text-decoration: none;
        font-size:14px;
        color: $text;
    }
}

.headerdef__nav__menu{
    a:hover{
        color: #000000;
        font-family: $bold;
    }
}

.headerdef__user{
    color: $text;
    margin-top:20px;
    margin-bottom:20px;
    font-size:14px;
    margin-left:2.2%;
    border-left: 1px solid $text;
    height: 30px;
    width:9.9%;
    text-align:right;
    p{
        margin-top: 8px;  
    }
}