header
    div(class="headernew__logo") 
        img(src="/img/logo.svg")
        
    nav(class="headernew__nav")
        
        ul(class="menu")
            li
                a(href="") Home
            li 
                a(href="") About Us
            li
                div(class="Services") 
                    a(href="") Services
                    div(id="Services" class="Services__arrow")
                        i(class="arrow down")
            li 
                a(href="") Careers
            li 
                a(href="") News
            li 
                a(href="") Documentation 


    div(class="header__buttons")
        div(class="login")
            include ../blocks/buttons/loginbut.pug
        div(class="register")
            include ../blocks/buttons/registerbut.pug

