header
    div(class="headerdef")
        div(class="header__logo")
            img(src="/src/img/logo.svg")

        nav(class="headerdef__nav")
            ul(class="menu")
                    li
                        a(href="") Home
                    li 
                        a(href="") About Us
                    li
                        div(class="Services") 
                            a(href="") Services
                            div(id="Services" class="Services__arrow")
                                i(class="arrow down")
                    li 
                        a(href="") Careers
                    li 
                        a(href="") News
                    li 
                        a(href="") Documentation 

        div(class="headerdef__user") 
            p Cosmin Negoita