@font-face {
	font-family: 'Conv_Montserrat-Bold';
	src: url('/src/fonts/Montserrat-Bold.eot');
	src: local('☺'),
	 url('/src/fonts/Montserrat-Bold.woff') format('woff'),
	   url('/src/fonts/Montserrat-Bold.ttf') format('truetype'),
	   url('/src/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_IndieFlower-Regular';
	src: url('/src/fontsflowers/IndieFlower-Regular.eot');
	src: local('☺'), url('/src/fontsflowers/IndieFlower-Regular.woff') format('woff'),
	 url('/src/fontsflowers/IndieFlower-Regular.ttf') format('truetype'),
	  url('/src/fontsflowers/IndieFlower-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Montserrat-Regular';
	src: url('/src/fonts/Montserrat-Regular.eot.eot');
    src: local('☺'), url('/src/fonts/Montserrat-Regular.woff') format('woff'),
     url('/src/fonts/Montserrat-Regular.ttf') format('truetype'),
      url('/src/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}