.login-block {
    @include def-card;
    margin: 0 auto;
    height: 338px;
    @media (max-width: $mobile) {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
}
.login-block__wrap {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: $mobile) {
        width: 80%;
    }
}
.login-block__email {
    margin-top: 17px;
}
.login-block__password {
    margin-top: 4px;
}
.login-block__paybtn {
    margin-top: 20px;
}
