.login-block {
    background: $back;
    box-shadow: $block_shadow;
    padding: 25px 30px 33px 30px;
    border-radius: $form-standart;
}
.login-block__wrap {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: $mobile) {
        width: 80%;
    }
}
.login-block__email {
    margin-top: 21px;
}
.login-block__password {
    margin-top: 10px;
}
.login-block__paybtn {
    margin-top: 19px;
}
