mixin check-box-btns(legend, ...items)
    label(class="check-box__legend")=legend 
    .check-box_btn
        each item in items
            fieldset(class="checkbox-button") 
                label(class="checkbox__container")
                    .checkbox__input-zone
                        input(type="checkbox" class="checkbox-check")
                        .checkbox__fake
                    .checkbox__text-zone.checkbox__text-zone_extra
                        p(class="checkbox__text-zone__text")=item
