.check-box_btn
    .checkbox
        label()
            input(type="checkbox" class="checkbox-check")
            .checkbox__fake
            .checkbox__text
                h4 Широкий коридор
                p Ширина коридоров в номере не менее 91 см.
    
    .checkbox.availability-bottom
        label()
            input(type="checkbox" class="checkbox-check")
            .checkbox__fake
            .checkbox__text
                h4 Помощник для инвалидов
                p На 1 этаже вас встретит специалист  и проводит до номера.

