div(class="check-box_btn")
    div(class="checkbox")
        label()
            input(type="checkbox" class="checkbox-check")
            div(class="checkbox__fake")
            div(class="checkbox__text")
                span Можно курить

    div(class="checkbox")
        label()
            input(type="checkbox" class="checkbox-check")
            div(class="checkbox__fake")
            div(class="checkbox__text")
                span Можно с питомцами

    div(class="checkbox")
        label()
            input(type="checkbox" class="checkbox-check")
            div(class="checkbox__fake")
            div(class="checkbox__text")
                span Можно пригласить гостей (до 10 человек)