.check-box_btn {
    margin-top: 17px;
}
.checkbox {
    position: relative;
    margin-bottom: 10px;
}
.check-box__legend {
    @include formLabel;
}
.checkbox__container {
    display: flex;
}

.checkbox-check {
    display: none;
}
.checkbox-button {
    margin-bottom: 11px;
}
.checkbox__fake {
    width: 18px;
    height: 18px;
    border: 1px solid $border_bright;
    border-radius: 5px;
    position: relative;
    background: #fff;
}

.checkbox__fake::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    background: url('../assets/img/svg/check-box.svg');
    opacity: 0;
}

.checkbox-check:checked + .checkbox__fake::before {
    opacity: 1;
}
.checkbox-check:checked + .checkbox__fake {
    border: 1px solid $purple;
}
.checkbox__text-zone {
    margin-top: 1px;
    margin-left: 9px;
    width: 191px;
}
.checkbox__text-zone_extra {
    margin-left: 9px;
}
.checkbox__text-zone_rich {
    margin-left: 9px;
    width: 205px;
}
.checkbox__text-zone_rich-long {
    width: 230px;
}
.checkbox__text-zone__text {
    @include text-style;
}
.checkbox__text-zone__text_rich {
    margin-top: 8px;
    font-size: 12px;
}
.checkbox__text-zone__title {
    @include subtitle14;
}
.checkbox_availability-bottom {
    margin-top: 41px;
    .checkbox__text {
        width: 225px;
    }
}
.extra-check {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}

.extra-check-arrow {
    transition: all 0.35s linear;
}
.extra-check-arrow.transform {
    transform: rotate(180deg);
}

.extra-checkboxes {
    display: none;
    margin-top: 18px;
    list-style-type: none;
}
.extra-checkboxes_show {
    display: block;
}
