.check-box_btn
    .checkbox
        fieldset
            label(class="checkbox__container")
                .checkbox__input-zone
                    input(type="checkbox" class="checkbox-check")
                    .checkbox__fake
                .checkbox__text-zone.checkbox__text-zone_rich
                    span(class="checkbox__text-zone__title") Широкий коридор
                    p(class="checkbox__text-zone__text checkbox__text-zone__text_rich") Ширина коридоров в номере не менее 91 см.

    
    .checkbox
        fieldset 
            label(class="checkbox__container")
                .checkbox__input-zone
                    input(type="checkbox" class="checkbox-check")
                    .checkbox__fake
                .checkbox__text-zone.checkbox__text-zone_rich-long
                    span(class="checkbox__text-zone__title") Помощник для инвалидов
                    p(class="checkbox__text-zone__text checkbox__text-zone__text_rich") На 1 этаже вас встретит специалист  и проводит до номера.

