div(class="check-box_btn")
    div(class="checkbox")
        label()
            input(type="checkbox" class="checkbox-check")
            div(class="checkbox__fake")
            div(class="checkbox__text")
                h4 Широкий коридор
                p Ширина коридоров в номере не менее 91 см.
    
    div(class="checkbox availability-bottom")
        label()
            input(type="checkbox" class="checkbox-check")
            div(class="checkbox__fake")
            div(class="checkbox__text")
                h4 Помощник для инвалидов
                p На 1 этаже вас встретит специалист  и проводит до номера.

