footer
    div(class="header__logo")
        img(src="/img/logo.svg")

    nav(class="headerdef__nav")
        div(class="headerdef__nav__menu")
            a(href="") Home 
            a(href="") About Us 
            a(href="") Services
            a(href="") Careers 
            a(href="") News 
            a(href="") Documentation 

    div(class="headerdef__author") 
        p Cosmin Negoita