extends ./../head.pug
block content


        include ./../../blocks/header/header-new_rus.pug
        


        .welcome
                .welcome__number-find
                        include ./../../blocks/number-find/number-find.pug
                .welcome__text
                        p Лучшие номера для вашей работы, 
                        |отдыха и просто вдохновения 
                
        include ./../../blocks/footer/footer-def_rus.pug




        