extends ./../head.pug
block content


        include ./../../blocks/header/header-new_rus.pug
        


        div(class="welcome")
                div(class="welcome__number-find")
                        include ./../../blocks/number-find/number-find.pug
                div(class="welcome__text")
                        p Лучшие номера для вашей работы, 
                        |отдыха и просто вдохновения 

        include ./../../blocks/footer/footer_def.pug




        