//styles for detepicker and forms
.welcome {
    background-image: url('/src/assets/img/backgrouds/landing1534.png');
    background-repeat: no-repeat;
    background-position-x: -47px;
    background-position-y: -130px;
    position: relative;
    display: block;
    height: 830px;
    width: 100%;
    @media screen and (min-width: 1500px) {
        background-image: url('/src/assets/img/backgrouds/landing1600.png');
        background-repeat: no-repeat;
        background-size: 1600px 900px;
        background-position-x: right;
        background-position-y: top;
    }
    @media screen and (min-width: 1600px) {
        background-image: url('/src/assets/img/backgrouds/landing1600+.png');
        background-repeat: no-repeat;
        background-size: 1983px 1122px;
        background-position-x: right;
        background-position-y: top;
    }
}
.welcome__text {
    color: $semy_bold_text;
    width: 260px;
    height: 48px;
    //margin-top: 311px;
    // margin-left:73.1%;
    padding-right: 0px;
    text-align: right;
    line-height: 24px;
    position: absolute;
    bottom: 21px;
    right: 8.3%;
}
.welcome__number-find {
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 9.8%;
}
/*@media (max-width:1554px){
    .welcome{
        background-image: url("/src/img/welcome-1534.jpg");
    }
}*/
