div(class="calendar")
    div(class="calendar__txt")
        p Найдём номера под
        p ваши пожелания

    div(class="calendar__dates")
        div(class="calendar__dates__in")
            label(class="" for="from") ПРИБЫТИЕ
                input( type="text" id="from" name="from")
        div(class="calendar__dates__out")
            label(class="out" for="to") ВЫЕЗД
                input(type="text" id="to" name="to" placeholder="")
                
    div(class="calendar__guests")
        label ГОСТИ
            input(type="text" id="to" name="to")

    div(class="calendar__but")
        button() ПДОБРАТЬ НОМЕР

    
