
label(for="calendar_oneblock" id="calendar")
    div(class="calendar__oneblock")       
            input(type="text" id="number-page__datepicker" data-range="true" data-multiple-dates-separator=" - " placeholder="ДД.ММ.ГГГГ" autocomplete="off")
            div(class="arrow-block")
                i(class="arrow down")
    
                
    

    
