div(class="calendar")
    div(class="calendar__txt")
        h1 Найдём номера под
        h1 ваши пожелания

    div(class="calendar__dates")
        div(class="calendar__dates__in")
            label(class="" for="from") ПРИБЫТИЕ
                input( type="text" id="from" name="from")
        div(class="calendar__dates__out")
            label(class="out" for="to") ВЫЕЗД
                input(type="text" id="to" name="to")
    
    label(class="calendar__guests") ГОСТИ
        input(type="text" id="to" name="to")

    
