
div(class="calendar")
    div(class="calendar__from")
        label(for="calendar_from")
        input(type="text" id="calendar_from" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here")
        div(class="arrow-block")
            i(class="arrow down")
    div(class="calendar__to")
        label(for="calendar_from") 
        input(type='text' id='calendar_to')
        div(class="arrow-block")
            i(class="arrow down")

div(id="datepicker-style")