mixin clendar-from()
    label(for="calendar__from")
        .calendar
            input(type="text" id="calendar_from"  class="calendar__input" placeholder="ДД.ММ.ГГГГ")
            i(class="fas fa-chevron-down")


mixin clendar-to()
    label(for="calendar__from")
        .calendar
            input(type="text" id="calendar_to"  class="calendar__input" placeholder="ДД.ММ.ГГГГ")
            i(class="fas fa-chevron-down")
