mixin clendar-from()
    label(for="calendar__from")
        div(class="calendar")
            input(type="text" id="calendar_from" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here calendar__input" placeholder="ДД.ММ.ГГГГ")
            i(class="fas fa-chevron-down")


mixin clendar-to()
    label(for="calendar__from")
        div(class="calendar")
            input(type="text" id="calendar_to" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here calendar__input" placeholder="ДД.ММ.ГГГГ")
            i(class="fas fa-chevron-down")
