header
    div(class="header__logo") 
        img(src="/img/logo.svg")
        
    nav(class="headernew__nav")
        div(class="headernew__nav__menu")
            a(href="") Home 
            a(href="") About Us 
            a(href="") Services
            a(href="") Careers 
            a(href="") News 
            a(href="") Documentation 

    form(action="" class="header__buttons")
        button(type='submit' class="header__button__login") Login
        button(type='submit' class="header__button__register") Register

