.header__navigation_eng {
    width: 37.2%;
    margin-left: 20.8%;
    margin-top: 12px;
}
.header__login_eng {
    width: 5.5%;
    height: 34px;
    margin-top: 3px;
    margin-left: 2%;
}
.header__register_eng {
    width: 7%;
    height: 34px;
    margin-top: 3px;
    margin-left: 1.5%;
}
.header-user__navigation {
    width: 37.2%;
    margin-left: 24.5%;
    margin-top: 12px;
}
.header-user__name {
    border-left: 1px solid $border_invisible;
    margin-left: 31px;
}
