extends ./../head.pug
block content
    include ./../../blocks/range-slider/range-slider.pug
    include ./../../blocks/check-box_btn/extra-checkboxes.pug

    include ./../../blocks/header/header-new_rus.pug

    .num
        .num__btn

        .num__settings
            .settings__arrivaldate
                h3(class = "settings__title") даты пребывания в отеле 
                .settings__arrivaldate-block
                    include ./../../blocks/calendar/calendar.pug
            .settings__guests
                h3(class = "settings__title") гости
                .settings__guests-block
                    include ./../../blocks/dropdown/dropdown.pug
                
            .settings__price
                .settings__price-block
                    .price-block__container
                        +range-slider('диапазон цены')
                    p(class="settings__price-txt") Стоимость за сутки пребывания в номере
            .settings__checkbox
                h3(class = "settings__title") Checkbox Buttons
                .settings__checkbox-block
                    include ./../../blocks/check-box_btn/check-box_btn.pug
            .settings__availability
                h3(class = "settings__title") доступность
                .settings__availability-block
                    include ./../../blocks/check-box_btn/check-rich.pug

                    
            .settings__comfort
                h3(class = "settings__title") удобства номера
                .settings__comfort-block
                    include ./../../blocks/dropdown/dropdown-comfort.pug
            .settings__extracomfort
                .settings__extracomfort-block
                    +extra-checkbox(false,'дополнительные удобства', 'Завтрак',
                 'Письменный стол','Стул для кормления', 'Кроватка', 'Телевизор',
                 'Шампунь', 'Телевизор', 'Шампунь')
        
        .num__numbers
            include ./../../blocks/numbers/numbers.pug
                
            include ./../../blocks/pagination/pagination.pug
            .num__pagination-container
                +pag-li()

                
                    
             
        
    include ./../../blocks/footer/footer-def_rus.pug