@import './src/scss/includes/var';
@import './src/scss/includes/mixins';
//styles for number-page

.main {
    display: grid;
    grid-template-columns: 28.5% 71.5%;
    padding-bottom: 77px;
    border-bottom: 1px solid $border_faded;
}

.settings__title {
    @include for-h3;
}

.main__settings {
    margin-left: 34.4%;
    margin-top: 29px;
}

.settings__arrivaldate {
    margin-top: 2px;
}

.settings__guests {
    margin-top: 23px;
}

.settings__price {
    margin-top: 33px;
}

.settings__checkbox {
    margin-top: 31px;
}

.settings__checkbox-block {
    margin-top: 16px;
}

.settings__availability {
    margin-top: 52px;
}

.settings__availability-block {
    margin-top: 17px;
}

.settings__comfort {
    margin-top: 63px;
}

.settings__extracomfort {
    margin-top: 32px;
}

.settings__price-txt {
    color: $black50;
    font-size: 12px;
    margin-top: 11px;
}
.main__pagination-container {
    width: 430px;
    margin: 19px 23.5% 0px auto;
}
