.chart-container
    h2(class="chart__subtitle") Впечатления от номера
    .chart__container
        .canvas-container
            canvas( id="js-myChart" width="120" height="121")

        ul(class="chart__list")
            li(class="chart__list-item")
                .yellow
                p(class="chart__list-text") Великолепно
            li(class="chart__list-item")
                .green
                p(class="chart__list-text") Хорошо
            li(class="chart__list-item")
                .purple
                p(class="chart__list-text") Удовлетворительно
            li(class="chart__list-item")
                .black
                p(class="chart__list-text") Разочарован

        .chart__votes
            h3(class="chart__votes-num") 260
            p(class="chart__votes-txt") ГОЛОСОВ