.login-page {
    display: block;
    width: 100%;
    background: url('../assets/img/backgrouds/registerbg.png');
    background-repeat: no-repeat;
    background-position-y: -235px;
    background-position-x: -43px;
    background-size: 1532px auto;
    padding-top: 162px;
    padding-bottom: 161px;
    @media (min-width: $big) {
        background-size: cover;
        background-position-y: 0;
        background-position-x: 0;
    }
    @media (max-width: $mobile) {
        background: $back;
    }
    @media (max-width: $mobile) {
        padding-top: 10px;
        padding-bottom: 20px;
    }
}
.login-page__login-block {
    margin-left: 37.2%;
    width: 380px;
    border-radius: $form-standart;
    border: 1px solid $border_faded;
    @media (max-width: $medium) {
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: $mobile) {
        width: 100%;
        border-radius: 0;
    }
    @media (min-width: $big) {
        margin-left: auto;
        margin-right: auto;
    }
}
