include ./../text-inputs/email-input.pug


footer
    .footer-wrap.footer-wrap_rus
        
        .footer__blok-text
            figure(class="block-text__logo")
                img(src="assets/img/logo.svg")
            .footer__blok-txt
                p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»


        nav(class="footer__navigation footer__navigation_nav")
            p(class="navigation__title") навигация

            .js-footer__title-block
                p(class="navigation__title") навигация
                i(class="fas fa-chevron-right arrow-nav")

            ul(class="navigation__list")
                li(class="list-item")
                    a(class="list-item__text") О нас
                li(class="list-item")
                    a(class="list-item__text") Новости
                li(class="list-item")
                    a(class="list-item__text") Служба поддержки
                li(class="list-item")
                    a(class="list-item__text") Услуги

        nav(class="footer__navigation footer__navigation_about")
            p(class="navigation__title") о нас

            .js-footer__title-block
                p(class="navigation__title") О сервисе
                i(class="fas fa-chevron-right arrow-about")

            ul(class="navigation__list")
                li(class="list-item")
                    a(class="list-item__text") О сервисе
                li(class="list-item")
                    a(class="list-item__text") Наша команда
                li(class="list-item")
                    a(class="list-item__text") Вакансии
                li(class="list-item")
                    a(class="list-item__text") Инвесторы

        nav(class="footer__navigation footer__navigation_support")
            p(class="navigation__title") Служба поддержки

            .js-footer__title-block
                p(class="navigation__title") Служба поддержки
                i(class="fas fa-chevron-right arrow-sup")

            ul(class="navigation__list") 
                li(class="list-item")
                    a(class="list-item__text") Соглашения
                li(class="list-item")
                    a(class="list-item__text") Сообщества
                li(class="list-item")
                    a(class="list-item__text") Связь с нами
            
        .footer__blok-newsletter.footer__blok-newsletter_rus
            h3(class="newsletter__title") Подписка

            p(class="newsletter__txt") Получайте специальные предложения и новости сервиса

            .newsletter__email-input
                +email-input('Your email address')


    .bottom-line
        p(class="bottom-line__text") Copyright © 2018 Toxin отель. Все права зачищены.

        .footer-bottom__icons.footer-bottom__icons_rus
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>