footer
    .footer-wrap.footer-wrap_eng
        .footer
            .footer__blok-text
                .block-text__logo
                    img(src="/src/assets/img/logo.svg")
                .block-text__text
                    p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
            .footer__blok-navigation
                ul(class="navigation__list")
                    li(class="list-item ")
                        a(class="list-item__text list-item__text_first") Navigation
                    li(class="list-item")
                        a(class="list-item__text") About Us
                    li(class="list-item")
                        a(class="list-item__text") News
                    li(class="list-item")
                        a(class="list-item__text") Support
                    li(class="list-item")
                        a(class="list-item__text") Products

            .footer__blok-about
                ul(class="about__list")
                    li(class="list-item")
                        a(class="list-item__text list-item__text_first") ABOUT US
                    li(class="list-item")
                        a(class="list-item__text") Who we are
                    li(class="list-item")
                        a(class="list-item__text") Our team
                    li(class="list-item")
                        a(class="list-item__text") Careers
                    li(class="list-item")
                        a(class="list-item__text") Investors

            .footer__blok-support
                ul(class="support__list")
                    li(class="list-item")
                        a(class="list-item__text list-item__text_first") Support
                    li(class="list-item")
                        a(class="list-item__text") Documentation
                    li(class="list-item")
                        a(class="list-item__text") Community
                    li(class="list-item")
                        a(class="list-item__text") Get in Touch
                
            .footer__blok-newsletter
                h3(class="newsletter__title") Subscribe to our newsletter

                p(class="newsletter__txt") Receive our latest news and promotions in your inbox!

                .newsletter__email-input
                    include ./../text-inputs/email-input.pug


    .bottom-line
        p(class="bottom-line__text") Copyright © 2018 Toxin UI Kit. All rights reserved.

        .footer-bottom__icons.footer-bottom__icons_eng
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>