footer
    .footer-wrap.footer-wrap_rus
        .footer
            .footer__blok-text
                .block-text__logo
                    img(src="/src/assets/img/logo.svg")
                .block-text__text
                    p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer__blok-navigation
                ul(class="navigation__list")
                    li(class="list-item ")
                        a(class="list-item__text list-item__text_first") навигация
                    li(class="list-item")
                        a(class="list-item__text") О нас
                    li(class="list-item")
                        a(class="list-item__text") Новости
                    li(class="list-item")
                        a(class="list-item__text") Служба поддержки
                    li(class="list-item")
                        a(class="list-item__text") Услуги

            .footer__blok-about
                ul(class="about__list")
                    li(class="list-item")
                        a(class="list-item__text list-item__text_first") о нас
                    li(class="list-item")
                        a(class="list-item__text") О сервисе
                    li(class="list-item")
                        a(class="list-item__text") Наша команда
                    li(class="list-item")
                        a(class="list-item__text") Вакансии
                    li(class="list-item")
                        a(class="list-item__text") Инвесторы

            .footer__blok-support
                ul(class="support__list")
                    li(class="list-item")
                        a(class="list-item__text list-item__text_first") Служба поддержки
                    li(class="list-item")
                        a(class="list-item__text") Соглашения
                    li(class="list-item")
                        a(class="list-item__text") Сообщества
                    li(class="list-item")
                        a(class="list-item__text") Связь с нами
                
            .footer__blok-newsletter
                h3(class="newsletter__title") Подписка

                p(class="newsletter__txt") Получайте специальные предложения и новости сервиса

                .newsletter__email-input
                    include ./../text-inputs/email-input.pug


    .bottom-line
        p(class="bottom-line__text") Copyright © 2018 Toxin отель. Все права зачищены.

        .footer-bottom__icons.footer-bottom__icons_rus
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>