footer
    .footer-alt
        img(src="./img/logo.svg")
        p(class="footer-alt__text") Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        .footer-alt__icons
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>