@import './src/scss/includes/var';
/*
.footeralt{
    height: 367px;
    width:100%;
    background-color: $back;
    text-align: center;
    display: grid;
    
}

.footeralt__logo{
    margin-top: 100px;
    height: 40px;
    
}

.footeralt__text{
    margin-top:-59px;
    color: $light_grey;
    line-height: 24px;
    color: $light_grey;
}

.footeralt_icons{
    margin-top:-58px;
    font-size: 12px;
    word-spacing: 22px;
    i{
        background: linear-gradient(180deg, #C09EFF, #89A4FD);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }   

}*/
