.footer-wrap_eng {
    padding-top: 83px;
    padding-bottom: 103px;
}
.footer-bottom__icons_eng {
    margin-left: 50.3%;
}
.footer__blok-navigation_eng {
    margin-left: 3.5%;
}
.navigation__list_eng {
    width: 85px;
}
.footer__blok-about_eng {
    margin-left: 9.75%;
}
.about__list_eng {
    list-style-type: none;
    width: 90px;
}
.support__list_eng {
    list-style-type: none;
    width: 116px;
}
.footer__blok-support_eng {
    margin-left: 9.5%;
}

.footer__blok-newsletter_eng {
    margin-left: 7.25%;
    margin-top: 23px;
}
