.footer-wrap_rus {
    padding-top: 82px;
    @media screen and (max-width: $medium) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.footer-bottom__icons_rus {
    margin-left: 47.7%;
    @media screen and (max-width: $medium) {
        margin-left: 0;
    }
}
.navigation__list_rus {
    width: 151px;
}
.about__list_rus {
    width: 116px;
}
.support__list_rus {
    width: 149px;
}
.footer__blok-navigation_rus {
    margin-left: 3.4%;
}
.footer__blok-about_rus {
    margin-left: 4.3%;
}
.footer__blok-support_rus {
    margin-left: 7.1%;
}
.footer__blok-newsletter_rus {
    margin-left: 4.6%;
    margin-top: 23px;
}
