.login-page {
    display: block;
    width: 100%;
    height: 683px;
    background: url('/src/assets/img/backgrouds/registerbg.png');
    background-repeat: no-repeat;
    background-position-y: -235px;
    background-position-x: -43px;
    background-size: 1532px auto;
    position: relative;
}
