extends ./../head.pug
block content


    include ./../../blocks/header/header-new_rus.pug
    
    .login-page
        .login-page__login
            include ./../../blocks/login-block/login-block.pug

    include ./../../blocks/footer/footer-def_rus.pug