.cards {
    background: #f4f4f6;
    position: relative;
    height: 1350px;
    width: 100%;
}
.cards__number-find {
    width: 380px;
    height: 374px;
    position: absolute;
    top: 151px;
    left: 139px;
}
.cards__register-block {
    position: absolute;
    top: 566px;
    left: 139px;
}
.cards__number-find-calc {
    position: absolute;
    top: 150px;
    left: 560px;
}
.cards__login-block {
    position: absolute;
    top: 702px;
    left: 559px;
}
.cards__number-block {
    width: 270px;
    height: 258px;
    position: absolute;
    top: 558px;
    left: 980px;
}
.cards__number-block2 {
    width: 270px;
    height: 258px;
    position: absolute;
    top: 855px;
    left: 980px;
}
.cards__date-picker {
    position: absolute;
    top: 151px;
    left: 980px;
}
.cards__datepicker {
    display: none;
}
