.ui-logo {
    margin-bottom: 42px;
}

.ui-kit-container {
    width: 1141px;
    margin: 59px auto;
    position: relative;
}
.text-block {
    width: 318px;
}
.text-block1 {
    width: 318px;
    position: absolute;
    top: 84px;
    input {
        border: 1px solid $border_bright;
        &::placeholder {
            color: $black75;
        }
    }
}
.drop-block1 {
    width: 318px;
    position: absolute;
    top: 168px;
}
.date-block1 {
    width: 320px;
    position: absolute;
    top: 255px;
}
.date-block2 {
    width: 318px;
    position: absolute;
    top: 359px;
    display: flex;
    justify-content: space-between;
}
.date-container {
    width: 148px;
}
.date-block3 {
    width: 264px;
    position: absolute;
    top: 464px;
}
.email-block {
    width: 264px;
    position: absolute;
    top: 569px;
}
.drop-block2 {
    width: 263px;
    position: absolute;
    top: 733px;
}
.drop-block3 {
    width: 263px;
    position: absolute;
    top: 816px;
    .dropdown__field {
        border-radius: 5px 5px 0 0;
    }
    .dropdown__buttons-list {
        display: block;
    }
}
.checkList-block {
    width: 249px;
    position: absolute;
    top: 1055px;
}

.checkList-block1 {
    width: 249px;
    position: absolute;
    top: 1119px;
}
.info-comfort {
    position: absolute;
    top: 1400px;
}
.checkBox-block {
    position: absolute;
    top: 0px;
    left: 446px;
}
.uikit__title {
    margin-bottom: 7px;
    @include formLabel;
}
.radio-block {
    position: absolute;
    top: 170px;
    left: 446px;
    .gender {
        margin-top: 17px;
    }
}
.toggle-block__toggle {
    @include formLabel;
}
.toggle-block {
    position: absolute;
    top: 261px;
    left: 446px;
    .swith-btn {
        margin-top: 15px;
    }
}
.like-btns {
    position: absolute;
    top: 391px;
    left: 446px;
}
.like-btns__block {
    display: flex;
    width: 88px;
    justify-content: space-between;
    margin-top: 17px;
}
.rate-block {
    position: absolute;
    top: 482px;
    left: 446px;
}
.rate-block__block {
    display: flex;
    width: 262px;
    justify-content: space-between;
    margin-top: 17px;
}
.drop-block4 {
    position: absolute;
    top: 733px;
    left: 446px;
    width: 318px;
    .dropdown__field {
        border-radius: 5px 5px 0 0;
    }
    .dropdown__buttons-list {
        display: block;
    }
}
.rich-check-block {
    position: absolute;
    top: 1053px;
    left: 446px;
}
.comment-block {
    position: absolute;
    top: 1410px;
    left: 446px;
}
.range-slider-block {
    position: absolute;
    width: 263px;
    top: 2px;
    left: 839px;
}
.buttons-block {
    position: absolute;
    top: 88px;
    left: 839px;
    .opacity_btn {
        opacity: 0.5;
    }
    .btn {
        width: 99px;
    }
}

.buttons-block__container1 {
    display: flex;
    justify-content: space-between;
    width: 217px;
    margin-top: 16px;
}
.buttons-block__container2 {
    display: flex;
    justify-content: space-between;
    width: 217px;
    margin-top: 31px;
}
.buttons-block__container3 {
    display: flex;
    justify-content: space-between;
    width: 141px;
    margin-top: 31px;
}
.buttons-block__container4 {
    width: 320px;
    margin-top: 30px;
}
.click_me-txt {
    font-family: $bold;
    font-size: 12px;
    text-transform: uppercase;
}
.click_me-txt_colored {
    color: $purple;
}
.click_me-txt_grey {
    color: $black50;
}
.pagination-block {
    position: absolute;
    .pagination {
        margin-top: 14px;
    }
    top: 398px;
    left: 839px;
}
.drop-block5 {
    width: 320px;
    position: absolute;
    top: 733px;
    left: 839px;
    .dropdown__field {
        border-radius: 5px 5px 0 0;
    }
    .dropdown__buttons-list {
        display: block;
    }
}
.rules-block {
    position: absolute;
    top: 1054px;
    left: 839px;
}
// ===================================================================================================================================================================================
