.ui-wrap {
    display: flex;
    width: 90.15%;
    margin-left: 9.85%;
    margin-top: 42px;
    padding-bottom: 800px;
}
.col {
    text-align: left;
}
.col_1 {
    flex-basis: 321px;
}
.col_2 {
    flex-basis: 392px;
    margin-left: 126px;
}
//first col
.text-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}
.ui-title {
    @include for-h3;
}
.ui-comment {
    font-size: 12px;
    color: $black50;
    text-transform: uppercase;
}
.col__block {
    margin-top: 22px;
}
.col__datepicker {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}
.datepicker__block {
    width: 150px;
}
.col__datepicker-one-field {
    margin-top: 42px;
    width: 267px;
}
.col__email {
    margin-top: 44px;
}
.col__email-block {
    width: 267px;
}
.col__dropdown-comfort {
    margin-top: 101px;
    width: 265px;
}
.col__dropdown-comfort-block {
    margin-top: 21px;
    width: 265px;
}
.col__dropdown-comfort-block-container {
}
//second col
.block__checkbox {
    margin-top: 18px;
}
.block__radio {
    margin-top: 60px;
}
.block__radio-container {
    display: flex;
    margin-top: 17px;
}
.block__toggle {
    margin-top: 41px;
    .ui-title {
        margin-bottom: 18px;
    }
}
.block__toggle-container {
    margin-top: 11px;
}
.block__like {
    margin-top: 43px;
}
.block__like-container {
    display: flex;
    justify-content: space-between;
    width: 88px;
    margin-top: 16px;
}
.block__rate {
    margin-top: 43px;
}
.block__rate-container {
    margin-left: 3px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 260px;
}
.ui-wrap__block-cont-slider {
    width: 266px;
}
.block__btns {
    margin-top: 44px;
}
.btns {
    display: flex;
    justify-content: space-between;
    width: 218px;
    margin-top: 17px;
}
.btns__btn-container {
    width: 100px;
}
.btns__btn-container_opacity {
    opacity: 0.5;
    width: 100px;
}
.btns-white {
    display: flex;
    justify-content: space-between;
    width: 218px;
    margin-top: 30px;
    .login-btn__login {
        line-height: 39px;
    }
}
.btns__btn-white-container {
    width: 100px;
    height: 44px;
}
.btns__btn-white-container_opacity {
    .login-btn__border {
        background: linear-gradient(to top, #c6d1fc, #ddceff);
    }
}
.block__click_me {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.click_me-txt {
    font-family: $bold;
    font-size: 12px;
    text-transform: uppercase;
}
.click_me-txt_colored {
    color: $purple;
}
.click_me-txt_grey {
    color: $black50;
}
.block__topay {
    margin-top: 31px;
    width: 318px;
}
.block__pagination {
    margin-top: 42px;
}
.block__pagination-container {
    margin-top: 15px;
}
.block__extra-check {
    margin-top: 173px;
    width: 250px;
}
.block__extra-check_show {
    margin-top: 46px;
    width: 250px;
}
.block__information {
    margin-top: 19px;
}
