.headers-and-footers {
    background: #f4f4f6;
}
.headers-and-footers__block1 {
    margin-top: 70px;
}
.headers-and-footers__block2 {
    margin-top: 38px;
}
.headers-and-footers__block3 {
    margin-top: 39px;
}
.headers-and-footers__block4 {
    margin-top: 39px;
}
