include ./../like-checkbox/like-checkbox.pug

mixin feedback(num,name,ago,id,val,bool,txt)
    .feedback
        .feedback__profile
            img(class="profile-img" src="assets/img/" + num + "profile.png")

            .feedback__name
                p(class="feedback__name-name")=name 
                p(class="feedback__name-days")=ago

        .feedback__text
            +like-btn(id,val,bool)
            p(class="feedback__text-feedback")=txt 


