.feedback__profile {
    display: flex;
    margin-top: 22px;
    margin-bottom: 11px;
}
.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid $white;
}
.feedback__name {
    margin-top: 2px;
    margin-left: 12px;
}
.feedback__name-name {
    @include subtitle14;
}
.feedback__name-days {
    margin-top: 7px;
    @include black-grey-text;
}
.feedback__text {
    display: flex;
    margin-top: 12px;
    margin-left: 7px;
    @media (max-width: $mobile) {
        margin-left: 0;
        text-align: left;
    }
}
.feedback__text-feedback {
    @include black-grey-text;
    line-height: 23px;
    margin-left: 14px;
    @media (max-width: $mobile) {
        width: 100%;
    }
}
