.feedback__profile {
    display: flex;
    margin-top: 22px;
    margin-bottom: 11px;
}
.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid $white;
}
.feedback__name {
    margin-top: 2px;
    margin-left: 9px;
}
.feedback__name-name {
    color: $black75;
    font-family: $bold;
}
.feedback__name-days {
    margin-top: 7px;
    color: $black75;
}
.feedback__text {
    display: flex;
    margin-top: 10px;
    margin-left: 4px;
}
.feedback__text-feedback {
    color: $black75;
    line-height: 23px;
    margin-left: 14px;
    width: 84%;
}
