doctype html
html(lang='en')
  head
    meta(charset="YTF-8")
    <script src="https://kit.fontawesome.com/070ea8a5d3.js" crossorigin="anonymous"></script>

  body
    include ../includes/headers_footers/header_new.pug
    p anime
    include ../includes/headers_footers/header_def.pug
    block content
    
    include ../includes/headers_footers/footer_def.pug
    p anime
    include ../includes/headers_footers/footer_alt.pug
    p anime
    