include def.pug

block content
    include ./../../header/header_new.pug
    
    include D:/Projects/Web/task_2/src/blocks/dropdown/dropdown.pug
            

    include ./../../footer/footer_def.pug