include def.pug

block content
    include ../includes/headers_footers/header_new.pug
    
    include D:/Projects/Web/task_2/src/blocks/calendar/calendar.pug
            

    include ../includes/headers_footers/footer_def.pug