@import "./../font/fonts.scss";
//fonts
$regular: 'Conv_Montserrat-Regular', sans-serif;
$bold: 'Conv_Montserrat-Bold', sans-serif;
$quicksand_bold: 'Conv_Quicksand-Bold', sans-serif;
$quicksand_regular: 'Conv_Quicksand-Regular', sans-serif;


//colors
$Dark-Shade100:#1F2041;
$Dark-Shade75:#575871;
$Dark-Shade50:#8F90A0;
$Dark-Shade25:#C7C7CF;
$Dark-Shade5:#F3F4F5;
$purple:#BC9CFF;
$green:#6FCF97;

$back: #ffffff;
$invisible-text:#D6D6DC;


$datepicker-in-range:#ECE7FF; //??

//text colors
$purple:#BC9CFF;
$white:#ffffff;
$black_text:#1F2041;
$black75:#575871;
$black50:#8F90A0;
$black25:#C7C7CF;
$semy_bold_text:#565773;
$light_pink:#C89DFF;
$light_grey:#8F90A0;
$white_text:#ffffff;


//forms colors
$border_faded:#C7C7CF; //25% opacity
$border_bright:#8F90A0;//50% opacity
$arrow_dawn:#1F2041;


//radius
$form-standart: 5px;