@import "./../font/fonts.scss";
//fonts
$regular: 'Conv_Montserrat-Regular', sans-serif;
$bold: 'Conv_Montserrat-Bold';
$nice: 'Conv_IndieFlower-Regular';
$quicksand_bold: 'Conv_Quicksand-Bold', sans-serif;


//colors

$back: #ffffff;

$invisible-text:#D6D6DC;



$purple:#BC9CFF;
$white:#ffffff;
$black_text:#1F2041;

$semy_bold_text:#565773;
$light_pink:#C89DFF;
$light_grey:#8F90A0;


//forms colors
$border_faded:#C7C7CF;
$border_bright:#8F90A0;
