@import "./../font/fonts.scss";
//fonts
$regular: 'Conv_Montserrat-Regular', sans-serif;
$bold: 'Conv_Montserrat-Bold';
$nice: 'Conv_IndieFlower-Regular';
$quicksand_bold: 'Conv_Quicksand-Bold', sans-serif;


//colors

$back: #ffffff;
$invisible-text:#D6D6DC;


$datepicker-in-range:#ECE7FF;
$purple:#BC9CFF;
$white:#ffffff;
$black_text:#1F2041;
$black75:#575871;


$semy_bold_text:#565773;
$light_pink:#C89DFF;
$light_grey:#8F90A0;
$white_text:#ffffff;


//forms colors
$border_faded:#C7C7CF;
$border_bright:#8F90A0;



//radius
$form-standart: 5px;