extends head.pug
block content


        include ./../blocks/header/header-new_rus.pug
        


        main(class="landing")
                .landing__number-find
                        include ./../blocks/number-find/number-find.pug
                aside(class="landing__text") 
                        p Лучшие номера для вашей работы, 
                        |отдыха и просто вдохновения 
                
        include ./../blocks/footer/footer-def_rus.pug






        