include head.pug

body
    include ./../header/header_new.pug
    
    div(class="main")
        div(class="main__settings")
            div(class="main__settings__arrivaldate")
                h3 даты пребывания в отеле
                div(class="dates")
                    include ./../blocks/dropdown/2dates-dropdown.pug
            div(class="main__settings__guests")
            div(class="main__settings__price")
            div(class="main__settings__checkboxes")
            div(class="main__settings__availability")
            div(class="main__settings__comfort")
            div(class="main__settings__extracomfort")
        
        div(class="main__numbers")
            include ./../blocks/numbers/numbers.pug
               
            div(id="data-container")
            div(id="pagination-container")
                    
                    
             
        
    include ./../footer/footer_def.pug