@import "./src/scss/includes/var";


.main{
    
    display: grid;
    grid-template-columns: 28.2% 71.8%;
    .main__numbers{
        h1{
            margin-top: 31px;
            margin-left: 64px;
            font-family: $quicksand_bold;
            font-size:24px;
            letter-spacing: 0.7px;
        }
    }
}

.numbers-container{
    width: 80.641%;
    margin-left: 6.3%;
    margin-right: auto;
    margin-top: 22px;
    display: grid;
    grid-template-columns: 270px 270px 270px;
    justify-content: space-between;
    .numbers-container__block{
        width:270px;
        height: 257px;
        border-radius: 5px;
        margin-bottom: 20px;
        .owl-nav{
            .owl-prev{
                height: 20px;
                width: 20px;
                position: relative;
                z-index: 99999;
                bottom: 90px;
                border:none;
                outline: none;
                color: white;
                margin-left: 10px;
            }
            .owl-next{
                margin-left: 210px;
                height: 20px;
                width: 20px;
                position: relative;
                z-index: 99999;
                bottom: 90px;
                border:none;
                outline: none;
                color: white;
                
            }
        }
    }
}