div(class="twodates-dropdown")
    
    label
        
        input(type="text" class="in")
        
        input(type="text" class="out")
    div(class="arrow-block")
        i(class="arrow down")

         
    
    