div(class="dropdown__show")
    label(class="dropdown__guests-calc")
        input(type="" placeholder="Сколько гостей" autocomplete="off")
        i(class="fas fa-chevron-down dropdown__arrow")
        
    ul(class="dropdown__buttons_show")
        li(class="dropdown__buttons-cell dropdown__buttons_topbtn")
            div(class="dropdown__buttons-block")
                h2 взрослые
                div(class="block-calc")
                    button(class="minus") -
                    span(class="number") 0
                    button(class="plus") +
        li(class="dropdown__buttons-cell")
            div(class="dropdown__buttons-block")
                h2 дети
                div(class="block-calc")
                    button(class="minus") -
                    span(class="number") 0
                    button(class="plus") +
        li(class="dropdown__buttons-cell")
            div(class="dropdown__buttons-block")
                h2 младенцы
                div(class="block-calc")
                    button(class="minus") -
                    span(class="number") 0
                    button(class="plus") +
        li(class="dropdown__buttons-cell")
            div(class="dropdown__buttons-block")
                button(type="" onclick="" class="dropdown__clear-btn dropdown__bottom-btn") ОЧИСТИТЬ
                button(type="" onclick="" class="dropdown__accept-btn dropdown__bottom-btn") ПРИМЕНИТЬ

                    
