@import './src/scss/includes/var';

.dropdown {
    border: 1px solid $border_faded;
    border-radius: $form-standart;
    position: relative;
    padding-left: 14px;
}
.dropdown__arrow {
    position: absolute;
    right: 15px;
    top: 15px;
    color: $black75;
}
.dropdown__guests-calc {
    display: flex;
    cursor: pointer;
    input {
        outline: none;
        border: none;
        width: 304px;
        height: 42px;
        color: $black75;
        cursor: pointer;
        border-radius: $form-standart;
    }
}
#dropdown__buttons,
#dropdown-comfort__buttons {
    display: none;
    background-color: $white;
    padding-bottom: 2px;
    position: absolute;
    top: 43px;
    left: -1px;
    z-index: 999;
    width: 100%;
    border: 1px solid $border_faded;
    border-top: none;
    border-radius: 0 0 5px 5px;
    h2 {
        margin-top: 7px;
    }
}
.dropdown__buttons--topbtn {
    margin-top: 7px;
}
.dropdown__buttons-cell {
    list-style-type: none;
    padding-left: 14px;
    height: 37px;
    display: block;
}
.dropdown__buttons__block {
    display: flex;
    justify-content: space-between;
    font-family: $bold;
    button {
        border: none;
        outline: none;
        background-color: $white;
        font-size: 12px;

        padding-top: 7px;
        margin-right: 6px;
    }
    .clear-but {
        color: $black50;
        margin-top: 7px;
    }
    .ok-but {
        color: $purple;
        margin-top: 7px;
    }
}
.dropdown__buttons__block__calc {
    width: 97px;
    display: flex;
    justify-content: space-between;
    .minus,
    .plus {
        width: 30px;
        height: 30px;
        border: 1px solid $border_bright;
        color: $border_bright;
        border-radius: 50%;
        line-height: 15px;
        font-size: 18px;
        line-height: 15px;
        padding-bottom: 6px;
    }
    .minus {
        border: 1px solid $border_faded;
        color: $black50;
    }
    .number {
        font-size: 12px;
        color: $black_text;
        margin-top: 7px;
        margin-right: 5px;
        font-family: $bold;
    }
}
