div(class="dropdown")
    label(class="dropdown__guests-calc")
        input(type="" placeholder="Выберете удобства" autocomplete="off")
        i(class="fas fa-chevron-down dropdown__arrow")
        
    ul(class="dropdown__buttons-show")
        li(class="dropdown__buttons-cell dropdown__buttons_topbtn")
            div(class="dropdown__buttons-block")
                h2 спальни
                div(class="block-calc")
                    button(class="minus") -
                    span(class="number") 0
                    button(class="plus") +
        li(class="dropdown__buttons-cell")
            div(class="dropdown__buttons-block")
                h2 кровати
                div(class="block-calc")
                    button(class="minus") -
                    span(class="number") 0
                    button(class="plus") +
        li(class="dropdown__buttons-cell")
            div(class="dropdown__buttons-block")
                h2 ванные комнаты
                div(class="block-calc")
                    button(class="minus") -
                    span(class="number") 0
                    button(class="plus") +
        