div(class="dropdawn")
    a(class="dropdawn__guests-calc" id="dropdawn__guests-calc") Сколько гостей
        div(class="arrow-block")
            i(class="arrow down")
    ul(class="dropdawn__buttons")
        li
            div(class="dropdawn__buttons__block")
                h2 взрослые
                button(class="minus")
                span(class="number")
                button(class="plus")
        li
            div(class="dropdawn__buttons__block")
                h2 дети
                button(class="minus")
                span(class="number")
                button(class="plus")
        li
            div(class="dropdawn__buttons__block")
                h2 младенцы
                button(class="minus")
                span(class="number")
                button(class="plus")

    
