@import './src/scss/includes/var';

.dropdown__label {
    @include formLabel;
}
.dropdown {
    position: relative;
    margin-top: 5px;
}
.dropdown__field {
    @include def-input;
}
.dropdown__arrow-down {
    @include arrow-down;
    position: absolute;
    top: 16px;
    right: 16px;
}
.dropdown__buttons-list {
    display: none;
    position: absolute;
    list-style-type: none;
    padding-top: 2px;
    background: $back;
    border: 1px solid $border_faded;
    border-radius: 0px 0px $form-standart $form-standart;
    z-index: 99;
    width: 100%;
    h3 {
        margin-top: 7px;
        margin-left: 14px;
        @include formLabel;
    }
}
.dropdown__buttons-block {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 7px;
}
.dropdown__buttons-block_top {
    padding-top: 3px;
}
.block-calc {
    display: flex;
    justify-content: space-between;
    width: 92px;
    margin-right: 7px;
    .minus,
    .plus {
        font-size: 18px;
        color: $black50;
        border: 1px solid $border_faded;
        border-radius: 50%;
        text-align: center;
        padding-top: 5px;
        width: 28px;
        height: 23px;
        user-select: none;
        &:hover {
            opacity: 0.5;
        }
    }
    .plus {
        border: 1px solid $border_bright;
    }
    .number {
        @include formLabel;
        margin-top: 8px;
    }
}
.dropdown__bottom-btn {
    margin-top: 15px;
    padding-bottom: 5px;
    background: none;
    outline: none;
    border: none;
    @include formLabel;
    width: 99px;
    &:hover {
        opacity: 0.5;
    }
}
.dropdown__clear-btn {
    color: $black50;
}
.dropdown__accept-btn {
    color: $purple;
}
