div(class="dropdawn")
    label(class="dropdawn__guests-calc" id="dropdawn__guests-calc")
        input(type="buttun" placeholder="Сколько гостей" onclick='myFunction()')
        div(class="arrow-block")
            i(class="arrow down")
    ul(class="dropdawn__buttons" id ="dropdawn__buttons")
        li
            div(class="dropdawn__buttons__block")
                h2 взрослые
                button(class="minus")
                span(class="number")
                button(class="plus")
        li
            div(class="dropdawn__buttons__block")
                h2 дети
                button(class="minus")
                span(class="number")
                button(class="plus")
        li
            div(class="dropdawn__buttons__block")
                h2 младенцы
                button(class="minus")
                span(class="number")
                button(class="plus")

    
