div(class="dropdawn" id="comfort-border_style")
    label(class="dropdawn__guests-calc" id="dropdawn__comfort-calc")
        input(type="" placeholder="Выберете удобства" id="drop-comfort_val" autocomplete="off")
        div(class="arrow-block")
            i(class="arrow down")
    ul(class="dropdawn__buttons" id ="dropdawn-comfort__buttons")
        li(class="dropdawn__buttons-topbtn")
            div(class="dropdawn__buttons__block")
                h2 спальни
                div(class="dropdawn__buttons__block__calc dropdawn__buttons__block__calc-adult")
                    button(class="minus" id ="minus-bedroom") -
                    span(class="number" id ="number-bedroom") 0
                    button(class="plus" id="plus-bedroom") +
        li
            div(class="dropdawn__buttons__block")
                h2 кровати
                div(class="dropdawn__buttons__block__calc dropdawn__buttons__block__calc-child")
                    button(class="minus" id ="minus-bed") -
                    span(class="number" id ="number-bed") 0
                    button(class="plus" id="plus-bed") +
        li
            div(class="dropdawn__buttons__block")
                h2 ванные комнаты
                div(class="dropdawn__buttons__block__calc dropdawn__buttons__block__calc-smallchild")
                    button(class="minus" id ="minus-bathroom") -
                    span(class="number" id ="number-bathroom") 0
                    button(class="plus" id="plus-bathroom") +
        
