div(class="dropdown" id="border_style")
    label(class="dropdown__guests-calc" id="dropdown__guests-calc")
        input(type="" placeholder="Сколько гостей" id="drop_val" autocomplete="off")
        i(class="fas fa-chevron-down dropdown__arrow")
        
    ul(class="dropdown__buttons" id ="dropdown__buttons")
        li(class="dropdown__buttons-cell dropdown__buttons_topbtn")
            div(class="dropdown__buttons-block")
                h2 взрослые
                div(class="block-calc")
                    button(class="minus" id ="minus-adult") -
                    span(class="number" id ="number-adult") 0
                    button(class="plus" id="plus-adult") +
        li(class="dropdown__buttons-cell")
            div(class="dropdown__buttons-block")
                h2 дети
                div(class="block-calc")
                    button(class="minus" id ="minus-child") -
                    span(class="number" id ="number-child") 0
                    button(class="plus" id="plus-child") +
        li(class="dropdown__buttons-cell")
            div(class="dropdown__buttons-block")
                h2 младенцы
                div(class="block-calc")
                    button(class="minus" id ="minus-baby") -
                    span(class="number" id ="number-baby") 0
                    button(class="plus" id="plus-baby") +
        li(class="dropdown__buttons-cell")
            div(class="dropdown__buttons-block")
                button(type="" onclick="" class="dropdown__clear-btn" id="clear-but") ОЧИСТИТЬ
                button(type="" onclick="" class="dropdown__accept-btn" id="ok-but") ПРИМЕНИТЬ

                    

    

    
