extends ./../head.pug
block content


    include ./../../blocks/header/header-new_rus.pug
    
    .register-page
        .register-page__register
            include ./../../blocks/register-block/register-block.pug

    include ./../../blocks/footer/footer-def_rus.pug