include ./../number-block/number-block-mixin.pug

h1(class="numbers__title") Номера, которые мы для вас подобрали
div(class="numbers-container")
    div(class="numbers-container__block")
        +full-block(1,888,true,9,990,5,145)
    div(class="numbers-container__block")
        +full-block(2,840,false,9,990,2,65)
    div(class="numbers-container__block")
        +full-block(3,980,true,8,500,3,35)
    div(class="numbers-container__block")
        +full-block(4,856,false,7,300,4,19)
    div(class="numbers-container__block")
        +full-block(5,740,false,6,'000',5,44)
    div(class="numbers-container__block")
        +full-block(6,982,false,5,800,6,56)
    div(class="numbers-container__block")
        +full-block(7,678,false,5,500,7,45)
    div(class="numbers-container__block")
        +full-block(8,450,false,5,300,8,39)
    div(class="numbers-container__block")
        +full-block(9,350,false,5,100,9,77)
    div(class="numbers-container__block")
        +full-block(10,666,false,5,100,10,25)
    div(class="numbers-container__block")
        +full-block(11,444,false,5,100,11,15)
    div(class="numbers-container__block")
        +full-block(12,352,false,5,100,12,55)
            
    

                
