div(class="main__numbers")
    h1 Номера, которые мы для вас подобрали
    div(class="numbers-container")
        div(class="numbers-container__block")
            include ./../number-block/number-block1.pug
        div(class="numbers-container__block")
            include ./../number-block/number-block2.pug
        div(class="numbers-container__block")
            include ./../number-block/number-block3.pug
        div(class="numbers-container__block")
            include ./../number-block/number-block4.pug
        div(class="numbers-container__block")
            include ./../number-block/number-block5.pug
        div(class="numbers-container__block")
            include ./../number-block/number-block6.pug
        div(class="numbers-container__block")
            include ./../number-block/number-block7.pug
        div(class="numbers-container__block")
            include ./../number-block/number-block8.pug
        div(class="numbers-container__block")
            include ./../number-block/number-block9.pug
        div(class="numbers-container__block")
            include ./../number-block/number-block10.pug
        div(class="numbers-container__block")
            include ./../number-block/number-block11.pug
        div(class="numbers-container__block")
            include ./../number-block/number-block12.pug
                
            

    
    