.swith-btn
    .swith-btn__swith
        label(class="swith")
            input(type="checkbox" checked="checked" class="swith__input")
            span(class="swith__slider")
    p(class="swith-btn__text") Получать спецпредложения
       