.swith-btn{
    display: flex;
}
.swith{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.swith__input{
    display: none;
}
.swith__slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $border_faded;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
    &::before{
        position: absolute;
        top: 3px;
        left: 4px;
        content: "";
        height: 12px;
        width: 12px;

        border-radius: 50%;
        background-color: $border_faded;
        -webkit-transition: .4s;
        transition: .4s;
    }
}
.swith__input:checked + .swith__slider {
    border: 1px solid $purple;
}



.swith__input:checked + .swith__slider:before {
    background: linear-gradient(to top, #8BA4F9, #BC9CFF);
    transform: translateX(19px);
}
.swith-btn__text{
    margin-left: 10px;
    color: $black75;
}