.number-find {
    display: block;
    width: 380px;
    height: 374px;
}
//styles for welcome-page
.number-find,
.number-find-calc {
    padding-top: 20px;
    border-radius: 5px;
    background-color: $white;
    display: block;
    width: 380px;
    height: 354px;
    text-align: center;
    box-shadow: $block_shadow;
    @media screen and (max-width: $mobileSmall) {
        box-shadow: none;
        padding-top: 0;
        border-top: 1px solid $border_invisible;
        border-radius: 0;
        width: 100%;
    }
}
.number-find__wrap {
    width: 320px;
    margin: 20px auto 0 auto;
    &--calc {
        margin-top: 0px;
    }
    @media screen and (max-width: $mobileSmall) {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
.number-find__title {
    text-align: left;
    letter-spacing: 1.1px;
    line-height: 29px;
    @media screen and (max-width: $mobileSmall) {
        text-align: center;
    }
}
.number-find__subtitle {
    text-transform: uppercase;
    font-family: $bold;
    font-size: 12px;
    margin-bottom: 6px;
}
.number-find__datepicker {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    @media screen and (max-width: $mobileSmall) {
        display: block;
    }
}
.number-find__datepicker-container {
    width: 150px;
    @media screen and (max-width: $mobileSmall) {
        margin-top: 15px;
        width: 100%;
    }
}
.number-find__guests {
    margin-top: 21px;
    text-align: left;
}
.number-find__button {
    margin-top: 33px;
}

//styles for review-page
.number-find-calc {
    height: 489px;
}
.number-find__datepicker-block {
    display: flex;
    justify-content: space-between;
}
.number-find-calc__price {
    margin-top: 22px;
    .price__price-price {
        flex-basis: 58px;
    }
    .price-sym {
        flex-basis: 9.9%;
    }
    .price-num {
        flex-basis: 20.5%;
        font-size: 23px;
    }
}
.number-find-calc__datepicker {
    margin-top: 10px;
    .flex {
        justify-content: space-between;
        width: 218px;
    }
}
.number-find-calc__guests {
    margin-top: 21px;
    text-align: left;
}
.number-find-calc__text {
    margin-top: 21px;
    text-align: left;
}
.calc-text__block {
    display: flex;
    justify-content: space-between;
    width: 319px;
    margin-top: 17px;
}
.text2 {
    position: relative;
    &::after {
        content: 'i';
        line-height: 22px;
        color: $black25;
        font-size: 12px;
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 50%;
        margin-left: -55px;
        margin-top: -3px;
        text-align: center;
        position: absolute;
        left: 275px;
        top: 0;
    }
}
.text3 {
    width: 200px;
    line-height: 19px;
    position: relative;
    &::after {
        content: 'i';
        line-height: 22px;
        color: $black25;
        font-size: 12px;
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 50%;
        margin-left: -55px;
        margin-top: -3px;
        text-align: center;
        position: absolute;
        left: 275px;
        top: 4px;
    }
}
.number-find-calc__result {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    width: 320px;
}
.result-dots {
    display: block;
    border-bottom: 1px dotted $black25;
    height: 1px;
    flex-basis: 182px;
    margin-top: 16px;
}
.result-txt {
    font-family: $bold;
    font-size: 19px;
    flex-basis: 57px;
}
.result-num {
    letter-spacing: -1.3px;
    flex-basis: 69px;
    font-family: $bold;
    font-size: 19px;
}
.number-find-calc__button {
    margin-top: 21px;
}
