include ./../buttons/btn-mixin.pug
include ./../number-block/number-block-mixin.pug
include ./../calendar/calender-mixin.pug
include ./../dropdown/dropdown-mixin.pug


.number-find.number-find_calc
    fieldset(class="number-find__wrap") 
        .number-find__price
            +price(888,true,9,990)
            

        form(class="number-find__datepicker number-find__datepicker_calc") 
            .number-find__datepicker-container
                +clendar-from('number-find__datepicker-from', 'ПРИБЫТИЕ')
            .number-find__datepicker-container
                +clendar-to('number-find__datepicker-to', 'ВЫЕЗД')
        
        div(class="number-find__guests")
            +people-drop-buttons('взрослые', 'дети', 'младенцы', 'number-find-dropdown', 'ГОСТИ')

        .number-find__text
            .number-find__text-line
                p 9 990₽ х 4 суток
                span 39 960₽

            .number-find__text-line
                p(class="text-line__text text-line__text_info") Сбор за услуги: скидка 2 179₽
                span 0₽

            .number-find__text-line
                p(class="text-line__text text-line__text_short") Сбор за дополнительные услуги
                span 300₽
            
            .number-find__result
                span(class="result-txt") Итого
                .result-dots
                span(class="result-num") 38 081₽



        form(class="number-find-calc__button")
            +purple-with-arrow('забронировать')