include ./../buttons/btn-mixin.pug
include ./../calendar/calender-mixin.pug


.number-find
    .number-find__wrap
        h1(class="number-find__title") Найдём номера под ваши пожелания

        .number-find__datepicker
            .number-find__datepicker-container
                h2(class="number-find__subtitle") ПРИБЫТИЕ
                +clendar-from()
            .number-find__datepicker-container
                h2(class="number-find__subtitle") ВЫЕЗД
                +clendar-to()
                    
                
        
        .number-find__guests
            h2(class="number-find__subtitle") ГОСТИ
            include ./../dropdown/dropdown.pug
        
        .number-find__button
            +purple-with-arrow('Подобрать номер',"number-page.html")
                