include ./../buttons/btn-mixin.pug
include ./../number-block/number-block-mixin.pug
include ./../calendar/calender-mixin.pug


div(class="number-find-calc")
    div(class="number-find__wrap")
        .number-find-calc__price
            +price(888,true,9,990)
            

        .number-find__datepicker.number-find-calc__datepicker
            .number-find__datepicker-container
                h2(class="number-find__subtitle") ПРИБЫТИЕ
                +clendar-from()
            .number-find__datepicker-container
                h2(class="number-find__subtitle") ВЫЕЗД
                +clendar-to()
        
        .number-find-calc__guests
            h3(class="number-find__subtitle") ГОСТИ
            include ./../dropdown/dropdown.pug

        .number-find-calc__text
            .calc-text__block
                p(class="text1") 9 990₽ х 4 суток
                span 39 960₽

            .calc-text__block
                p(class="text2") Сбор за услуги: скидка 2 179₽
                span 0₽

            .calc-text__block
                p(class="text3") Сбор за дополнительные услуги
                span 300₽
            
            .number-find-calc__result
                p(class="result-txt") Итого
                div(class="result-dots")
                p(class="result-num") 38 081₽



        div(class="number-find-calc__button")
            +purple-with-arrow('забронировать')