div(class="number-find")
    h1(class="number-find__title") Найдём номера под ваши пожелания

    div(class="number-find__datepicker")
        div(class="datepicker-from-to")
            div(class="flex")
                h2 ПРИБЫТИЕ
                h2 ВЫЕЗД
            include ./../calendar/calendar-from.pug
    
    div(class="number-find__guests")
        h2 ГОСТИ
        include ./../dropdown/dropdown.pug
            