include ./../buttons/btn-mixin.pug
include ./../number-block/number-block-mixin.pug
include ./../calendar/calender-mixin.pug


div(class="number-find-calc")
    div(class="number-find__wrap")
        .number-find-calc__price
            +price(888,true,9,990)
            

        .number-find-calc__datepicker
            .flex
                h3(class="number-find__subtitle") ПРИБЫТИЕ
                h3(class="number-find__subtitle") ВЫЕЗД
            .number-find__datepicker-block
                .datepicker-block__from
                    +clendar-from()
                .datepicker-block__to
                    +clendar-to()
        
        .number-find-calc__guests
            h3(class="number-find__subtitle") ГОСТИ
            include ./../dropdown/dropdown.pug

        .number-find-calc__text
            div(class="flex")
                p 9 990₽ х 4 суток
                span 39 960₽

            div(class="flex")
                p(class="after") Сбор за услуги: скидка 2 179₽
                div(class="iblock first")
                    span i
                span 0₽

            div(class="flex")
                p(class="after") Сбор за дополнительные услуги
                div(class="iblock second")
                    span i
                span 300₽
            
            div(class="number-find__calc__result")
                p Итого
                div(class="result-dots")
                p(class="result-num") 38 081₽



        div(class="number-find__button")
            +purple-with-arrow('забронировать')