mixin information(num)
    if num == 'smile'
        .information__block
            img(src="assets/img/svg/smile.svg" class="information__img")
            .information__text-block
                h3(class="information__subtitle") Комфорт
                p(class="information__text") Шумопоглащающие стены
    if num == 'house'
        .information__block
            img(src="assets/img/svg/city.svg" class="information__img")
            .information__text-block
                h3(class="information__subtitle") Удобство
                p(class="information__text") Окно в каждой из спален
    if num == 'fire'
        .information__block
            img(src="assets/img/svg/fire.svg" class="information__img")
            .information__text-block
                h3(class="information__subtitle") Уют
                p(class="information__text") Номер оснащён камином


