.information__text-block {
    margin-left: 8px;
    margin-top: 4px;

    @media (max-width: $mobile) {
        margin-right: 10%;
    }
}
.information__subtitle {
    @include subtitle14;
}
.information__text {
    @include black-grey-text;
    margin-top: 6px;
}
.information__img {
    width: 48px;
    height: 48px;
    @media (max-width: $mobile) {
        margin-left: 10%;
    }
}
.information__block {
    display: flex;
    border-bottom: 1px solid $border_invisible;
    width: 280px;
    padding-top: 22px;
    padding-bottom: 18px;
    @media (max-width: $small) {
        margin: 0 auto;
    }
    @media (max-width: $mobile) {
        width: 100%;
        justify-content: space-between;
    }
    @media (max-width: $mobileSmallest) {
    }
}
