div(class="information")
    h2 Сведения о номере
    div(class="information__block")
        img(src="/src/img/svg/smile.svg")
        div(class="information__text")
            h3 Комфорт
            p Шумопоглащающие стены
    div(class="information__block")
        img(src="/src/img/svg/city.svg")
        div(class="information__text")
            h3 Удобство
            p Окно в каждой из спален
    div(class="information__block")
        img(src="/src/img/svg/fire.svg")
        div(class="information__text")
            h3 Уют
            p Номер оснащён камином