@import "./src/scss/includes/var";

.text_input{
    width:320px;
    height: 67px;
    label{
        font-family: $bold;
        font-size: 17px;
    }
    
    input{
        width:318px;
        height: 42px;
        border: 1px solid $border_bright;
        border-radius:5px;
        margin-top: 4px;
        
    }
}