
div(class="range-slider")
    div(class="range-slider__flex")
        h3(class = "settings__title") диапазон цены
        input(type="text" id="amount" class="range-slider-input")
    div(id="slider-range")

    p(class="range-slider-text") Стоимость за сутки пребывания в номере