mixin range-slider(legend)
    .range-slider
        .range-slider__container
            label(for="" class="range-slider__title")=legend
            input(type="text" id="amount" class="range-slider-input")
        #slider-range
    





