mixin range-slider(name)
    .range-slider
        .range-slider__flex
            h3(class = "settings__title")=name
            input(type="text" id="amount" class="range-slider-input")
        #slider-range
    





