include ./../head.pug

body
        include ./../../blocks/header/header_new.pug

        div(class="welcome")
                div(class="welcome__number-find")
                        include ./../../blocks/number-find/number-find.pug
                div(class="welcome__text")
                        p Лучшие номера для вашей работы, 
                        |отдыха и просто вдохновения
        
        include ./../../blocks/footer/footer_def.pug
        