mixin purple-with-arrow(name,href)
        .filled-block
            a(class="filled-block__btn" href=href)= name
                .filled-block__arrow
                    img(src="/src/img/svg/next-arrow.svg")

mixin  white-gradient(name,href)
    .login-btn__border
        a(class="login-btn__login" hred=href)=name


mixin purple-btn(name,href)
    .filled-btn
        a(class="filled-block__btn" href=href)= name

