mixin purple-with-arrow(name,href)
        .find-number
            a(href=href)= name
                .arrow
                    img(src="/src/img/svg/next-arrow.svg")

mixin  white-gradient(name)
    .login-btn
        a(class="login-btn__login" hred="#")=name