@import "./src/scss/includes/var";
.find-number{

    a{
        display: block;
        background: linear-gradient(to top, #8BA4F9,#BC9CFF);
        height: 44px;
        width: 320px;
        border-radius: 30px;
        border: none;
        outline: none;
        position: relative;
        font-size: 12px;
        text-transform: uppercase;
        color: $white_text;
        line-height: 47px;
        text-align: center;
    }
    .arrow{
        
        position: absolute;
        right: 14px;
        top: 3px;
    }
}
