@import "./src/scss/includes/var";

.login-btn{
    text-align: center;
    position: relative;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(to top, #8BA4F9, #BC9CFF);

    width: 100%;
}
.login-btn__login{
    display: block;
    background: $back;
    color: #C89DFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 10%;
    cursor: pointer;
    border-radius: inherit;
    height: 100%;
    
}