@import "./src/scss/includes/var";
.register-but{
    height: 34px;
    width:100%;
    border-radius: 30px;
    background: linear-gradient(to top, #8AABFE, #C79EFF);
    text-align: center;
}
.register-but__btn{
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    line-height: 34px;
    border-radius: 30px;
}

    