@import "./src/scss/includes/var";

.email_input{
    width:258px;
    height: 42px;
    border: 1px solid $border_faded;
    border-radius:5px;
    input{
        border: none; /* Убираем рамку */
        outline: none; /* Убираем свечение в Chrome и Safari */
        padding-left: 14px;
        -webkit-appearance: none;
        
        height: 40px;
        border-radius:5px;
        width: 212px;
        color: $invisible-text;
    }
    button{
        width:30px;
        height: 40px;
        border-radius:5px;
        vertical-align: middle;
        border: none; /* Убираем рамку */
        outline: none; /* Убираем свечение в Chrome и Safari */
        background: transparent;
        font-size: 34px;
        background: linear-gradient(#A4A0FC, #A4A0FC);  
        -webkit-background-clip: text;  
        color: transparent;
        padding-right: 5px;
        
    }
}