.register-block {
    display: block;
    background: $back;
    padding: 24px 30px 28px 30px;
    box-shadow: $block_shadow;
    border-radius: $form-standart;
}
.register__wrap {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: $mobile) {
        width: 80%;
    }
}
.register-block__title {
    color: $black_text;
    font-size: 24px;
    font-family: $bold;
    letter-spacing: -0.45px;
}
.register-block__name {
    margin-top: 21px;
}
.register-block__secondname {
    margin-top: 10px;
}
.register-block__gender {
    display: flex;
    margin-top: 11px;
    position: relative;
}
.register-block__birthday {
    margin-top: 25px;
}
.register-block__subtitle {
    @include for-h3;
}
.register-block__email {
    margin-top: 23px;
}
.register-block__password {
    margin-top: 10px;
}
.register-block__swith {
    margin-top: 10px;
}
.register-block__paybtn {
    margin-top: 20px;
}
.register-block__login {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    align-items: center;
    width: 321px;
    @media (max-width: $mobile) {
        width: 100%;
    }
}
.register-block__login-text {
    color: $black_text;
    //line-height: 40px;
}
.register-block__login-btn {
    display: block;
    width: 98px;
    height: 44px;
    .login-btn__login {
        line-height: 41px;
    }
}
