include ./../buttons/btn-mixin.pug
include ./../text-inputs/input-text-field.pug

.register-block
    fieldset(class="register__wrap")
        h1(class="register-block__title") Регистрация аккаунта

        form(class="register-block__person")
            .register-block__name
                +text-input("Имя")
            
            .register-block__secondname
                +text-input("Фамилия")
        form(class="register-block__gender")
            include ./../gender-radiobtn/gender-radiobtn.pug

        form(class="register-block__birthday")  
            label(class="register-block__subtitle") дата рождения
            +text-input("ДД.ММ.ГГГГ")
        
        form(class="register-block__entrens")
            label(class="register-block__subtitle") данные для входа в сервис
            .register-block__email
                +text-input("Email")

            .register-block__password
                +text-input("Пароль")

        form(class="register-block__btns")
            
            include ./../switch-btn/switch-btn.pug

            .register-block__paybtn
                +purple-with-arrow('перейти к оплате')

            .register-block__login
                p(class="register-block__login-text") Уже есть аккаунт на Toxin
                .register-block__login-btn
                    +white-gradient('войти')
                