.register-block {
    @include def-card;
    height: 626px;
    @media (max-width: $mobile) {
        width: 100%;
        height: 800px;
        border-radius: 0;
        box-shadow: none;
    }
}
.register__wrap {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    @media (max-width: $mobile) {
        width: 80%;
    }
}
.register-block__subtitle {
    @include formLabel;
}
.register-block__title {
    margin-top: 18px;
    @include title-style;
}
.register-block__person {
    margin-top: 17px;
}
.register-block__secondname {
    margin-top: 4px;
}
.register-block__gender {
    display: flex;
    margin-top: 11px;
    position: relative;
}
.register-block__birthday {
    margin-top: 20px;
}
.register-block__entrens {
    margin-top: 17px;
}
.register-block__password {
    margin-top: 5px;
}
.register-block__btns {
    margin-top: 10px;
}

.register-block__paybtn {
    margin-top: 20px;
}
.register-block__login {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    width: 321px;
    @media (max-width: $mobile) {
        width: 100%;
    }
}
.register-block__login-text {
    @include black-text;
}
.register-block__login-btn {
    display: block;
    width: 98px;
    height: 44px;
    .login-btn__login {
        line-height: 41px;
    }
}
