@import "blocks/headers_footers/header_new.scss";
@import "blocks/headers_footers/header_def.scss";
@import "blocks/headers_footers/footer_def.scss";
@import "blocks/headers_footers/footer_alt.scss";
@import "blocks/settings/settings.scss";
@import "includes/var.scss";

*{
    padding: 0px;
    margin: 0px;
    font-family: $regular;
    font-size: 14px;
    letter-spacing: 1px;
}
body{
    background-color: $back;
}

.main{
    height: 1356px;
    display: grid;
    grid-template-columns: 30% 70%;

    .main__settings{
        height: 1356px;
        border:1px solid black;
    }
    .main__numbers{
        height: 1356px;
        border:1px solid black;
    }
}

