extends ./../head.pug
block content


    include ./../../blocks/header/header-new_rus.pug
    

    div(class="review-img")
        div(class="review-img__1")
        div(class="review-img__2")
        div(class="review-img__3")


    div(class="review-wrap")
        div(class="review__content")
            div(class="review-information")
                include ./../../blocks/information/information.pug

            div(class="review__ellipse")
                h2(class="review__ellipse__title") Впечатления от номера
                div(class="flex")
                    img(src="/src/img/ellipse.svg")
                    div(class="review__ellipse__colorstxt")
                        div(class="flex")
                            div(class="yellow")
                            p Великолепно
                        div(class="flex")
                            div(class="green")
                            p Хорошо
                        div(class="flex")
                           div(class="purple")
                           p Удовлетворительно
                        div(class="flex")
                            div(class="black")
                            p Разочарован

                div(class="review__ellipse__votes")
                    span(class="num") 260
                    br
                    span голосов
            

            div(class="review__number-find")
                include ./../../blocks/number-find/number-find-calc.pug

            div(class="review__guests-reviews")
                include ./../../blocks/guests-feedback/guests-feedback.pug

            
            div(class="review__cancel")
                h2 Отмена
                p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.


    include ./../../blocks/footer/footer_def.pug