@import './src/blocks/guests-feedback/guests-feedback.scss'; //стили для блока с отзывами

.review-wrap {
    width: 80.7%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: $medium) {
        width: 95%;
    }
    @media (max-width: $mobile) {
        margin-top: 25px;
        width: 100%;
    }
}
.review-page {
    border-bottom: 1px solid $border_faded;
}
.review-img {
    grid-area: a1;
    display: grid;
    grid-template-areas:
        'i1 i2'
        'i1 i3';
    grid-template-columns: 69% 31%;
    @media (max-width: $mobile) {
        display: none;
    }
}
.review-mobile {
    display: none;
    @media (max-width: $mobile) {
        display: block;
    }
    .owl-carousel {
        height: 100%;
    }
    .owl-nav {
        display: none;
    }
    .owl-dots {
        right: 13px;
        top: 200px;
        .owl-dot {
            span {
                height: 15px;
                width: 15px;
                margin: 10px 10px;
            }
        }
    }
}
.review-img__1 {
    grid-area: i1;
    display: block;
    height: 485px;
    background-image: url('../assets/img/room-inside/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $mobile) {
        height: 243px;
        width: auto;
    }
}
.review-img__2 {
    grid-area: i2;
    display: block;
    height: 243px;
    background-image: url('../assets/img/room-inside/2.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $mobile) {
        height: 243px;
        width: auto;
    }
}
.review-img__3 {
    grid-area: i3;
    display: block;
    height: 242px;
    background: url('../assets/img/room-inside/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 1440px) {
        background: url('../assets/img/room-inside/3-media.png');
        background-repeat: no-repeat;
    }
    @media (max-width: $mobile) {
        height: 243px;
        width: auto;
    }
}

.review__content {
    padding-top: 70px;
    padding-bottom: 72px;
    display: grid;
    grid-template-columns: 291px 364px 380px;

    justify-content: space-between;
    grid-template-areas:
        'info elipse number'
        'feedback feedback number'
        'rulls cancel cancel';
    @media (max-width: $medium) {
        grid-template-areas: none;
        grid-template-columns: 50% 50%;
    }
    @media (max-width: $small) {
        grid-template-columns: unset;
        text-align: center;
    }
    @media (max-width: $mobile) {
        padding-top: 0;
    }
}
.review__subtitle {
    font-family: $bold;
    font-size: 19px;
    color: $black_text;
    letter-spacing: -0.4px;
}
.review-medium {
    //for 600-900px
    display: none;
    @media (max-width: $small) {
        display: flex;
        justify-content: space-between;
        .review-information {
            display: block;
        }
        .review__ellipse {
            display: block;
        }
    }
    @media (max-width: $mobile) {
        display: none;
    }
}
.review-information {
    grid-area: info;
    margin-left: 0.9%;
    @media (max-width: $medium) {
        grid-area: unset;
        margin-left: 0;
    }

    @media (max-width: $small) {
        display: none;
    }

    @media (max-width: $mobile) {
        display: block;
        width: 100%;
    }
}

.review__ellipse {
    grid-area: elipse;
    position: relative;
    margin-left: 15px;

    @media (max-width: $medium) {
        grid-area: unset;
        margin-left: 0;
    }

    @media (max-width: $small) {
        display: none;
    }

    @media (max-width: $mobile) {
        display: block;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        margin-top: 22px;
    }
    .review__ellipse__votes {
        position: absolute;
        top: 80px;
        left: 31px;
        text-align: center;
        .num {
            font-size: 24px;
        }
        span {
            font-family: $bold;
            font-size: 14px;
            color: $purple;
        }
    }
    .review__ellipse__colorstxt {
        margin-top: 45px;
        margin-left: 31px;
        p {
            margin-left: 5px;
            color: $black75;
        }
        .flex {
            margin-top: 8px;
        }
        .yellow {
            display: block;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background: linear-gradient(to top, #ffba9c, #ffe39c);
            margin-top: 3px;
        }
        .green {
            display: block;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background: linear-gradient(to top, #66d2ea, #6fcf97);
            margin-top: 3px;
        }
        .purple {
            display: block;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background: linear-gradient(to top, #8ba4f9, #bc9cff);
            margin-top: 3px;
        }
        .black {
            display: block;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background: linear-gradient(to top, #3d4975, #909090);
            margin-top: 3px;
        }
    }
}
.review__number-find {
    grid-area: number;
    margin-left: 14px;

    @media (max-width: $medium) {
        grid-area: unset;
        margin-left: 0;
        margin-top: 15px;
    }
    @media (max-width: $small) {
        width: 380px;
        margin: 20px auto 30px auto;
    }
    @media (max-width: $mobile) {
        margin-top: 55px;
    }
    @media (max-width: $mobileSmallest) {
        width: 100%;
    }
}

.review__guests-reviews {
    grid-area: feedback;
    margin-top: 16px;
    @media (max-width: $medium) {
        grid-area: unset;
    }
    @media (max-width: $mobile) {
        width: 90%;
        margin: 150px auto 0 auto;
    }
}
.review-title {
    display: flex;
    justify-content: space-between;
}
.review__num {
    color: $black50;
    margin-top: 4px;
}
.reviews__container_second {
    margin-top: 27px;
}

.review__cancel {
    grid-area: cancel;
    width: 325px;
    margin-top: 34px;
    margin-left: 16px;

    @media (max-width: $medium) {
        grid-area: unset;
        margin-left: 0;
    }

    @media (max-width: $small) {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}
.review__cancel-txt {
    margin-top: 16px;
    color: $black75;
    line-height: 24px;
}
.review__rules {
    margin-top: 33px;
    .review__subtitle {
        margin-left: 20px;
    }
    @media (max-width: $small) {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}
.review__rules-container {
    margin-top: 18px;
}
