include ./../buttons/btn-mixin.pug
header
    .header
        .header__logo
            img(src='assets/img/logo.svg')
        .header__nav-btn
            +register-btn("МЕНЮ", "#", "nav-btn")
        .header__navigation.header__navigation_eng
            ul(class="navigation-element")
                li(class="navigation-block")
                    a(class="navigation-block__elem") Home
                li(class="navigation-block")
                    a(class="navigation-block__elem") About Us
                li(class="navigation-block navigation-arrow")
                        a(class="navigation-block__elem") Services
                        .arrow-down
                li(class="navigation-block")
                    a(class="navigation-block__elem") Careers
                li(class="navigation-block")
                    a(class="navigation-block__elem") News
                li(class="navigation-block")
                    a(class="navigation-block__elem") Documentation
                
        .header__login.header__login_eng
            +white-gradient("LOGIN","login-page.html")
        .header__register.header__register_eng
            +register-btn("REGISTER","register-page.html")