.header__navigation_rus {
    width: 31.1%;
    margin-left: 19.9%;
    margin-top: 12px;
}
.header__login_rus {
    width: 6.1%;
    height: 34px;
    margin-top: 3px;
    margin-left: 1.7%;
}
.header__register_rus {
    width: 13.75%;
    height: 34px;
    margin-top: 3px;
    margin-left: 1.5%;
}
