.header__navigation_rus {
    width: 32.7%;
    margin-left: 19%;
    margin-top: 12px;
    @media (max-width: $Notebook) {
        margin-left: 9%;
        width: 500px;
    }
    @media (max-width: $small) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.header__buttons_rus {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    width: 21.35%;
    @media (max-width: $Notebook) {
        width: 280px;
    }
    @media screen and (max-width: $small) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin: 10px auto 0 auto;
    }
}
.header__login_rus {
    width: 28.5%;
    height: 34px;
    margin-top: 3px;
    margin-left: 1%;
    @media (max-width: $Notebook) {
        width: 84px;
    }
}
.header__register_rus {
    width: 64%;
    height: 34px;
    margin-top: 3px;
}
