include ./../buttons/btn-mixin.pug
header
    .header
        .header__logo
            img(src='/src/assets/img/logo.svg')
        .header__navigation.header__navigation_rus
            ul(class="navigation-block")
                li
                    a(class="navigation-block__elem") О нас
                li
                    label(class="navigation-block__arrow")
                            a(class="navigation-block__elem") Услуги
                            i(class="fas fa-chevron-down")
                li
                    a(class="navigation-block__elem") Вакансии
                li
                    a(class="navigation-block__elem") Новости
                li
                    label(class="navigation-block__arrow")
                            a(class="navigation-block__elem") Соглашения
                            i(class="fas fa-chevron-down")
                
        .header__login.header__login_rus
            +white-gradient("войти","login-page.html")
        .header__register.header__register_rus
            +register-btn("зарегистрироваться","register-page.html")

