header {
    box-shadow: $block_shadow;
}
.header {
    background: $back;
    display: flex;
    padding-top: 15px;
    padding-bottom: 13px;
    @media screen and (max-width: $Notebook) {
        justify-content: space-around;
    }
    @media screen and (max-width: $small) {
        display: block;
        text-align: center;
    }
}
.header__logo {
    margin-left: 9.85%;
    @media screen and (max-width: $medium) {
        margin-left: 2%;
    }
}
.header__nav-btn {
    width: 200px;
    display: none;
    @media screen and (max-width: $mobile) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin: 10px auto 0 auto;
    }
}
.navigation-block {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    @media screen and (max-width: $mobile) {
        display: none;
        .navigation-element {
            display: block;
            margin: 5px 0 5px 0;
            text-align: center;
        }
        .navigation-block__arrow {
        }
    }
}
.navigation-element {
    flex-basis: auto;
    text-align: center;
}

.navigation-block__elem {
    font-size: 14px;
    color: $black50;
    cursor: pointer;
    &:hover {
        font-family: $bold;
        color: $black75;
    }
    .fa-chevron-down {
        margin-left: 5px;
        margin-top: 2px;
        color: $black50;
    }
}
.navigation-block__arrow {
    display: flex;
    .fa-chevron-down {
        margin-left: 5px;
        margin-top: 2px;
        color: $black50;
    }
}
.header__login {
    width: 5.5%;
    height: 34px;
    margin-top: 3px;
    margin-left: 2%;
}
.header__register {
    width: 7%;
    height: 34px;
    margin-top: 3px;
    margin-left: 1.5%;
}
.header-user__navigation {
    width: 37.2%;
    margin-left: 24.5%;
    margin-top: 12px;
    max-width: 39%;
}
.header-user__name-text {
    margin-top: 13px;
    margin-left: 29px;
    color: $black50;
}
