@import "./src/scss/includes/var";
.header_new{
    background-color: $back;
    width:100%;
    display:flex;
    align-items: center;
    height: 70px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.header_new-logo{
    margin-left: 9.7222222222%; 
}

.header_new-menu{
    width: 30.9%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        color:$black50;
        &:hover{
            color:$black_text;
            font-family: $bold;
        }
    }

    li{
        list-style: none;
    }
}

.headernew-menu__Arrow{
display: flex;
justify-content: space-between;
    .fa-chevron-down{
        color: $light_grey;
        font-size: 14px;
        margin-left: 5px;
        margin-top: 2px;
    }
    &:hover{
        font-family: $bold;
        color:$black_text;
        .fa-chevron-down{
            color:$black_text;
            font-weight: bold;
        }
    }
}

.login{
    margin-left:2%;
    width:5.8%;
}
.register{
    margin-left:1.7%;
    width: 13.75%;
}
