@import "./src/scss/includes/var";


footer{
    
}
.footer{
    display:grid;
    grid-template-areas: "b1 b2 b3 b4 b5"
                         "b6 b6 b6 b6 b6";
    grid-template-columns: 30.6% 13.9% 13.9% 13.9% 27.7%;
    background-color: $back;
    height:443px;
    border-top:1px solid $black_text;
    h3{
        font-size:12px;
        font-family: $bold;
        line-height: 38px;
    }
    a:hover{
        color: #000000;
        font-family: $bold;
    }
    a{
        text-decoration: none;
        color: $text;
        line-height: 38px;
    }
    
}

.footer__col1{
    grid-area: b1;
    margin-top: 100px;
    height: 270px;
    .footer__col1__text{
        margin-left:31.7%;
        color:#1F2041;
        margin-top: 15px;
        letter-spacing: 1px;
        word-spacing: 0px;
        color:$semy_bold_text;
        line-height: 24px;
        letter-spacing: 0px;
    }
    .footer__col1__logo{
        margin-left:31.7%;
    }
}

.footer__col2{
    grid-area: b2;
    margin-top: 92px;
    height: 282px;
    width:41%;
    
}

.footer__col3{
    grid-area: b3;
    margin-top: 92px;
    height: 282px;
}

.footer__col4{
    grid-area: b4;
    margin-top: 92px;
    height: 282px;
}

.footer__col5{
    grid-area: b5;
    margin-top: 92px;
    height: 282px;
    p{
        margin-top:6px;
        line-height: 24px;
        color: $black_text;
        margin-bottom: 19px;
    }
    h3{
        font-size: 12px;
    }
    .footer__col5__email-input{
        margin-left: -1px;
        margin-top: 25px;
    }
}

.footer__bottom{
    grid-area: b6;
    height: 70px;
    border-top:1px solid $text;
    .footer__bottom__text{
        color: $text;
        position: absolute;
        margin-top: 26px;
        margin-left: 9.7%;
        color:#1F2041;
    }
    
    .footer__bottom__icons{
        font-size: 12px;
        position: absolute;
        margin-top: 23px;
        margin-left: 82.5%;
        word-spacing: 20px;
        i{
            background: linear-gradient(180deg, #C09EFF, #89A4FD);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
        }   
    }
}







