footer(class="footeralt")
    div(class="footeralt__logo")
        img(src="/src/img/logo.svg")
    div(class="footeralt__text")
        p 
        | Lorem ipsum dolor sit amet consectetur adipising elit aliquam eget nukkam
        br
        | pellentesque aliquam curabitur cociis.
    div(class="footeralt_icons")
        <i class="fab fa-twitter fa-2x"></i>
        <i class="fab fa-facebook-square fa-2x"></i>
        <i class="fab fa-instagram fa-2x"></i>