.gender
    .gender-male
        label()
            input(type="radio" class="radio-btn" name="gender")
            span(class="radio-btn__fake")
            span(class="radio-btn__text") Мужчина

    .gender-female
        label()
            input(type="radio" class="radio-btn" name="gender")
            span(class="radio-btn__fake")
            span(class="radio-btn__text") Женщина