div(class="welcome")
  div(class="welcome__number-find")
    include ./../number-find/number-find.pug
  div(class="welcome__text")
    p Лучшие номера для вашей работы, 
      |отдыха и просто вдохновения