div(class="swith-btn")
    div(class="swith-btn__swith")
        label(class="swith")
            input(type="checkbox" class="swith__input")
            span(class="swith__slider")
    p(class="swith-btn__text") Получать спецпредложения
       